<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'ster' %>) no-repeat center center; background-size: cover;">
    <div>
      <h1 class="text-white">destinynumbers</h1>
    </div>
  </div>
   <div class="text-center">
<%= render "shared/header" %>
<h3 class="my-title">
  数 秘 術 計 算<br>
  <small class="text-body-secondary">名前と生年月日を入力して下さい</small>
  </h3>
  </div>
</div>
