<%= render "shared/header" %>

<div class="result-main">
  <div class="result-title">Number 1</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>リーダーシップ、先駆性、そして行動力に溢れています。<br>
      <div class="result-essence-main1">
        積極的で、計画を立てなくてもやりたいと思ったときにはすでに行動が始まり、そのスピードの速さや頭の回転のよさが魅力です。<br>
        何においても1番を目指し、負けず嫌いな一面も持っていますが、1番にこだわらずとも生まれ持った行動力によって自然とリーダーシップを発揮し、周囲を引っ張っていく傾向があります。<br>
        ゼロから1を生み出すことに長けており、フリーランスや新しい事業や会社を興すベンチャーマインドのある創業者として成功する可能性が高いです。<br>
        また、場を仕切り、指示を出し、決断をすることも得意で、時にはコントロールしたい欲が生まれるかもしれませんが、バランスを保つことができれば無敵です。<br>
        たまに落ち込むことがあっても、自家発電型の名前さんはすぐに復活し、いつも元気で周囲や環境に影響されない強さを持っています。<br></div>
    <div class="result-essence2">
      <br>性格は裏表がなくサッパリしています。<br>
      <div class="result-essence-main2">
        周囲の意見に流されることなく、自分の考え方を持ち、好き嫌いもハッキリしています。<br>
        思ったことをズバッと言う傾向があります<br>
        裏表がない性格をしているため、他人との間に余計な駆け引きはありません。<br>
        これにより、一緒にいても気疲れせずに済む人ともいえるでしょう。<br>
        直情型でシンプルな性質を持ち、思っていることがわかりやすいタイプでもあります。<br>
        元気でエネルギッシュな雰囲気を持ち合わせています。<br></div>
    <div class="result-essence3">
      <br>独自のオリジナリティを大切にしています。<br>
      <div class="result-essence-main3">
        どんな場所においても独自のオリジナリティを発揮しようとする性質があります。<br>
        周りの人の声が聞こえないほどの集中力と道なき道を切り開いていける行動力があります。<br>
        視点も独自のものを持っているため、本人は普通に周りと同じようにしているつもりでも、どこかズレています。<br>
        中心となる存在なので、輪の中に入れずひとりで浮いている状態になることもあります。<br>
        また、スピード感を重視してしまう分、せっかちとして表れがちです。<br>
        スピードはあるものの、抜けがあったり後始末が苦手です。</div>
    <div class="result-essence4">
      <br>Number1と相性の良いNumberは6です。<br>
      <div class="result-essence-main4">
        Number6はいわゆるソウルメイトとい言える立場になります。<br>
        良き理解者で支援者となってくれるでしょう。<br>
        自分にないものを相手が持っているので、一緒にいるととても面白いと思えるのです。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>