<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'iruka' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">愛を学び伝えるために地球にやってきた宇宙人</strong></p>
      <p class="main-text"> 33番は3番の要素を持つ6番の進化系マスターナンバーです。</p>
      <p class="main-text"> この数字が持つ本質は、破天荒と常識、奇想天外、世界規模……なのですが、ひと言で表現するなら宇宙人（笑）。</p>
      <p class="main-text"> 地球の生活に息苦しさを感じていませんか?</p>
      <p class="main-text"> 数字の中で、最も高次元にいる33番は、宇宙に最も近い存在で地球の空気を読むことが苦手な人もいるかもしれません。</p>
      <p class="main-text"> 3番の子ども特有の無邪気さと6番の常識的かつ愛情の強い母親という、全く異なる性質が同居しています（ぜひ3番と6番の説明も併せてお読みください）。</p>
      <p class="main-text"> だから「自分とは何か？」と、自問自答をしている人も多いのです。</p>
      <p class="main-text"> 内包する両極端な性質のバランスを取るために、6番の常識的な部分を頼りに生きている方がこの日本では多いかもしれません。</p>
      <p class="main-text"> しかし、それはあなたの使命と直結しているから必要なこと。</p>
      <p class="main-text"> 3番と6番の同居がうまくいくと、より宇宙があなたに味方してくれるように。</p>
      <p class="main-text"> フリーランス、それもグローバルに活躍でいる素養を持っています。</p>
      <p class="main-text"> その型にはまらない自由な発想から出たさまざまな天才的なアイデアを、世界・宇宙のために還元していくことができる人なのです。</p>
      <p class="main-text"> また、33番の持つ大きな使命は愛。</p>
      <p class="main-text"> 恋愛だけでなく、家族愛、師弟愛、人類愛、宇宙愛……。</p>
      <p class="main-text"> そういった全ての愛を学び、伝えるために生まれてきました。</p>
      <p class="main-text"> あなたは誰にでも分け隔てなく優しくて、みんなの声に耳を傾ける博愛主義者でもあり、その特殊な能力で世界中をあなたの愛で満たしてください！</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
