<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'futago' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">壮大な世界を視野に持つ、理想高きカリスマ</strong></p>
      <p class="main-text"> 22番は2番の要素を持つ4番の進化系マスターナンバー。</p>
      <p class="main-text"> その本質はカリスマ性、平和主義、建設的です。</p>
      <p class="main-text"> マスターナンバーの中でも2と4という偶数を持つ数字のため、11、33に比べて、葛藤や生きづらさを感じることは少ないはず。</p>
      <p class="main-text"> 2も4も女性性のため、前に出るタイプではありませんが、地に足がついていて、どっしりと構え、マイペースに積み上げていくタイプです。</p>
      <p class="main-text"> 22番にとって心が休まるキーワードは、圧倒的な安心感、先の見通しがつく状況、そして穏やかな生活です。</p>
      <p class="main-text"> この数字を持つあなたは、2番の特徴である、感受性の高さ・空気を読む力と、4番の強みである具体化していく力を併せ持っています（ぜひ2番と4番の説明も併せて読んでみください）。</p>
      <p class="main-text"> つまり22番は世の中のニーズをくみ取り、実際に形にしていくことができる力があるのです。</p>
      <p class="main-text"> それゆえ22番は、ビジネスセンスに富んだ人が多い数字といわれています。</p>
      <p class="main-text"> 大きな数字を動かすようになっていく人も多く、政治家や官僚などになって、業界の枠組みやルールを変えていく人もいるでしょう。</p>
      <p class="main-text"> 考えていることの規模が大きいのも、この数の持つ特徴です。</p>
      <p class="main-text"> 例えば、差別のない世の中や世界平和を本気で願っていて、どうしたらうまく回るだろうか、と地球規模で考えています。</p>
      <p class="main-text"> その一方で、表で派手に動くというよりは、裏で丁寧にじっくりと積み上げていくことを好むのもこの数字の面白いところ。</p>
      <p class="main-text"> その結果、控えめなのに、キラキラ輝くカリスマ的存在となっていくのです。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
