<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'boken' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">自由と冒険を求めて旅するスーパースター</strong></p>
      <p class="main-text"> 5番の本質は、冒険、スター、経験欲。</p>
      <p class="main-text"> アイドルなど表舞台に立つ人気者が多く持つ数字です。</p>
      <p class="main-text"> あなたは努力をしなくても人に好かれ、同性にも異性にも人気があります。</p>
      <p class="main-text"> 5番の5は、五感の5でもあり、あなたはその感覚を使って表現することが得意で、それを通して成長していきます。</p>
      <p class="main-text"> また、経験欲にあふれ、好奇心に突き動かされて生きています。</p>
      <p class="main-text"> 運動、音楽、美術など、感性を活かした才能がある人がとても多いのも特徴です。</p>
      <p class="main-text"> 常に変化をしていないと満足しないので、飽きっぽい面もあるかもしれません。</p>
      <p class="main-text"> 例えるなら、マラソン的な持久力タイプではなく、変化や順応性に強い、真のチャレンジャーなのです!</p>
      <p class="main-text"> 元気がないときは、やりたいことに向き合うことで5番の魅力を引き出します。</p>
      <p class="main-text"> 自由な環境で、興味の赴くままに行動すると吉。</p>
      <p class="main-text"> また耳が良いので、言語能力も高く、海外に縁のある人もいるでしょう。</p>
      <p class="main-text"> まさに自由と冒険がキーワード、あなたの思うままに自由の海を泳ぎまわってください。</p>

      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
