<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'reder' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">生まれ持った行動力で人を導くリーダー</strong></p>
      <p class="main-text">1番の持つ本質は、リーダー、先駆者、行動力。積極的で行動力に溢れています。</p>
      <p class="main-text">計画を立てなくともやりたいと思ったときには既にからだが動き、なぜかうまくいきます。</p>
      <p class="main-text">そのスピードの速さや頭の回転のよさはあなたの魅力です。</p>
      <p class="main-text"> 何においても1番が好きだったり、負けず嫌いだったり、そんな人も多いかもしれません。</p>
      <p class="main-text"> 1番にこだわっていなくても生まれ持った行動力によって、自然とリーダーシップを取るポジションになりがちでゼロから1を生み出すことが得意な人も多いはず。</p>
      <p class="main-text"> この数字を持っている人はフリーランス、または新しく事業や会社を興すベンチャーマインドのある創業者が多いのです。</p>
      <p class="main-text"> また、1番は場を仕切る、指示をする、決断をすることも得意。</p>
      <p class="main-text"> ときどきコントロールしたい欲が生まれてしまうので、そこさえバランスよく保てたら、あなたはもう無敵！たまに落ち込むことがあっても、自家発電型の1番はすぐに復活、いつも元気。</p>
      <p class="main-text"> いい意味で、周囲や環境に影響されない強さを持っているのも魅力です。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
