<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'cool' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">物事の真理を解き明かす、本物志向のスペシャリスト</strong></p>
      <p class="main-text"> 7番の本質は、本物志向、職人気質、真理追求。</p>
      <p class="main-text"> この数字を持つ人は、いずれにおいても物事を深く追求せずにはいられない、まさに職人気質なスペシャリストです。</p>
      <p class="main-text"> その真理を知りたいという欲は、誰にも負けません。</p>
      <p class="main-text"> あなたほど本質に近づける人はいないでしょう。</p>
      <p class="main-text"> また、7という数字を持つ人の特徴として、物理的欲求（お金）や社会的欲求（名誉）よりも、精神世界や哲学を重んじる傾向があります。</p>
      <p class="main-text"> 精神世界に入っていくために、あなたがひとりになれる環境、ひとりで考えることのできる時間も必須。</p>
      <p class="main-text"> 物理的に部屋にこもって、ひとりの空間を作る人もいれば、まわりに家族など人がいても、ソファに座って自分の世界に入っていく人もいるでしょう。</p>
      <p class="main-text"> どんなに仲がよくても一定の距離は取りたいタイプのため、孤独を愛するクールな人に思われがちですが、内には熱い情熱を秘めています。</p>
      <p class="main-text"> ひとつの物事を極める力、物事の真理を解き明かそうとする力、本質を見抜く力、それは、人間関係においても、仕事においても、あなたの秀でた強みなのです！</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
