<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'kyokan' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">人を繋ぎ、物事を調和に導く平和の使者</strong></p>
      <p class="main-text"> 2番の本質は、共感、サポート、繋ぐ。</p>
      <p class="main-text"> 点と点を繋ぐことから、新しいカタチが生まれるように、2番は人と人を繋いだり、出会うべきものたちを引き合わせたり、どの要素が繋がると最高の化学反応を生み出すかが分かる才能を持っています。</p>
      <p class="main-text"> あなたと一緒にいる人はふと気付くと成長し、成功していることも多いはずです。</p>
      <p class="main-text"> それもあって、誰かのサポートをすることに喜びを感じます。</p>
      <p class="main-text"> しかも絶対的な味方と一緒にいると、心が平穏になるあなたは、自分ひとりで何かを成し遂げるよりも、超優秀な執事や最高の秘書の資質も備わっているので、そういう職業を選ぶと自分の長所を生かした働きと、それに対する充足感が得られるでしょう。</p>
      <p class="main-text"> そんな2番が持っているもうひとつの特徴は、高い感受性。</p>
      <p class="main-text"> 一瞬でその場の空気や雰囲気を察知したり、物事や感情の裏側を読み解いたりすることができます。</p>
      <p class="main-text"> ビジネスや人間関係も、あなたが入ることで整うことが多いはず。無意識に周囲を調和へと導いてしまうので、喧嘩がおきたらぜひ出動してあげて。</p>
      <p class="main-text"> 争いを収める力を持っています。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
