<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'tenshi' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">大胆と繊細を併せ持つ、天からのメッセンジャー</strong></p>
      <p class="main-text"> 数秘において11、22、33はマスターナンバーと呼ばれ、1〜9とは少し異なる複合的な性質を含みます。</p>
      <p class="main-text"> まず11番は1の要素を持つ2の進化系マスターナンバーです。</p>
      <p class="main-text"> その本質は、天からのメッセンジャーで第六感が働くので、感じたことを全て大切にしてあげてください。</p>
      <p class="main-text"> なぜならあなたの直感（違和感も含めた感覚）は、全て正しいからです。</p>
      <p class="main-text"> 実は言語化が得意ではない人も多い11番は、「なんとなく」と言ってしまいがちですが、そのなんとなくは実は信憑性がとても高いことが多いのです。</p>
      <p class="main-text"> 1番の持つ積極性や行動力（男性性）と、2番の持つ謙虚さや気配り（女性性）の2つが自分の中に同居していて、大胆と繊細の間を行き来しています。</p>
      <p class="main-text"> ぜひ1と2の本質の説明も併せて読んでみてください。</p>
      <p class="main-text"> 全身が感度のいい受信機のようになっているので、ポジティブなこともネガティブなことも受け取りやすいのも特徴。</p>
      <p class="main-text"> だからアーティスト性の強い11番にとって大事なのは、ストレスの少ない環境作り。</p>
      <p class="main-text"> 自分に合ったデトックス（息抜き）をしていきましょう。</p>
      <p class="main-text"> 美しい環境、赤ちゃん、ペット、美術品、自然など、純粋でキレイなものに触れるとエネルギーチャージができます。</p>
      <p class="main-text"> あなたは最適な環境にいればいるほど、最強の自分になっていきます。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
