<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'doll' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">洗練された美の神様が味方する愛の使者</strong></p>
      <p class="main-text"> 6番の本質は、愛と美。</p>
      <p class="main-text"> あなたの強みは絶対的な優しさと美的センスです。</p>
      <p class="main-text"> あなたは努力を6は母の愛の数字ともいわれていて、あなたは誰かの面倒を見たり、または助けたりできる、とても愛情深い人なのです。</p>
      <p class="main-text"> 美容、ファッション、その他、美しさにまつわることは、天職といえます。</p>
      <p class="main-text"> とても洗練されていて、まさに美に愛された人で美の神様がついているのです。</p>
      <p class="main-text"> そしてもうひとり、愛の神様もついています。</p>
      <p class="main-text"> あなたは周囲の人に愛を与えますが、周りからも同等の愛、または感謝を求めます。</p>
      <p class="main-text"> 愛したいし、愛されたいのです。</p>
      <p class="main-text"> 人のお世話をするのが好きなので、友人や家族、恋人にも頼られ、相談役やアドバイザー役にもなりがち。</p>
      <p class="main-text"> 周囲との調和も大切にできるから、人やチームのバランスを取ることに長けています。</p>
      <p class="main-text"> 今のこの混沌とした世の中に、本当に必要な6番。</p>
      <p class="main-text"> そんな6番が自分自身をパワーチャージできるスポットは、美しい場所。</p>
      <p class="main-text"> 家をキレイにしたり、花を飾ったり、目に映る環境を心地よく整えて。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
