<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'tomi' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">富や人脈に恵まれる、プロデュース力抜群の努力家</strong></p>
      <p class="main-text"> 8番の本質は、富と成功、実行力、無限大。</p>
      <p class="main-text"> 具体的に例えるなら、企業の社長、経営者に適した強みを持っているタイプです。</p>
      <p class="main-text"> 目標を明確に立て、それに向かって並外れた努力をすることができるあなたは、必然的にリーダー的存在になっていきます。</p>
      <p class="main-text"> 野心家でもあり、プライドが高い人も多い8番が、一番嫌いな言葉は「負け試合」。</p>
      <p class="main-text"> あなたにとって勝負は、勝つためにあるのです。</p>
      <p class="main-text"> 名プロデューサーでもあり、必要なものや人材を見極め、適切に配置をして、ベストなチームを作ることができます。</p>
      <p class="main-text"> また、8番は富や権力、人脈に恵まれやすく、労せずそういった環境を手にすることが多いですが、入ってきたものを感謝と謙虚な気持ちをもって、循環させることを心がけましょう。</p>
      <p class="main-text"> そうすることで、より多くの恵みがあなたの味方となってくれることでしょう。</p>
      <p class="main-text"> エネルギーチャージは、目標達成のためにたゆまぬ努力を続けている自分を褒める言葉の数々。</p>
      <p class="main-text"> 褒めて伸びるタイプなので、自分でも他人からも上げてもらって！</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
