<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'ru-ru' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">成功までの道を逆算するプランニングの鬼</strong></p>
      <p class="main-text"> 4番の本質は、安定、具現化、成功への逆算。</p>
      <p class="main-text"> この数字を持つ人は、自分の描く成功までの道筋を、逆算することが超得意。</p>
      <p class="main-text"> 持ち前の努力で、コツコツと知識や経験を積み重ね、自分の土台を固めていき、それを基に目標や夢へ着実に近づいていく―、いわばプランニングの鬼なのです。</p>
      <p class="main-text"> 秩序やルールを重んじるタイプなので、自分の計画外の急な変更や想像していなかった変化を受け入れがたく感じる場面もあります。</p>
      <p class="main-text"> だからこそ、そういった事態を回避するために、より一層事前に準備を完璧に整えようとします。</p>
      <p class="main-text"> もし少し疲れたな、と思ったら、整理整頓された空間で、食事、仕事、趣味など毎日の生活を丁寧に整えてみましょう。</p>
      <p class="main-text"> あなたも整っていきます。</p>
      <p class="main-text"> 4番が持つもうひとつの武器は、物事を「安定」に導くことができる力。</p>
      <p class="main-text"> 頭脳明晰で意志がとても強く、現実的に物事を捉えることのできる能力が高い。</p>
      <p class="main-text"> 常にあらゆるリスクを想定して、計算や数字にも強い人が多いです。</p>
      <p class="main-text"> あなたがいることにより、チームや組織は圧倒的な安定に導かれることでしょう。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
