<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<%= render "shared/header" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="result-main">
        <img src="<%= asset_path 'satori' %>" class="img-fluid img-result" alt="Result Image">
      <p><strong class="strong-title">広い心で多様な価値観を受容する、みんなの村長</strong></p>
      <p class="main-text"> あなたは自分の精神年齢を知っていますか？ なんと90歳です（笑）。</p>
      <p class="main-text"> 数秘で用いる数字1〜9の中で、一番最後の数でもある9は、物事の終わり、完成を示す数字です。</p>
      <p class="main-text"> その本質は、受容、完成、悟り。</p>
      <p class="main-text"> 1〜8を経験した上でたどり着けるのが9といわれているので、どの数字にも変幻自在になれる超越したフレキシビリティを持っています。</p>
      <p class="main-text"> また9は知恵の詰まったこうべを垂れる老人の姿を現した数字ともいわれ、この数を持つ人は落ち着いていて、説得力があり、鋭い観察眼を持っています。</p>
      <p class="main-text"> そして、全ての数字を通ってきているからこそ、どの数字の気持ちや思いも理解することができます。</p>
      <p class="main-text"> 「十人十色、みんな違ってみんないい」という許容範囲の広い受容の心は、もはや仙人の悟りの領域です。</p>
      <p class="main-text"> みんなの意見を受け入れながらも、最終的な結論に導いたり、まとめたりができる、まるで村長さんのような役割ができるのが9番の魅力なのです。</p>
      <p class="main-text"> せっかくなら大きな夢や理想を描きましょう。</p>
      <p class="main-text"> あなたの活力になります。</p>
      <br>
       <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>
    </div>
  </div>
</div>



  <!-- 追加のスタイル -->
  <style>
    .strong-main {
      font-size: 30px;
      color: #c17be4;
      padding-bottom: 10px;
    }
    .strong-title {
      color: #330033;
      font-size: 24px;
    }
    .main-text {
      color: #330033;
      font-size: 20px;
    }
    .back-link{
      color: #c17be4;
    }

  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
