<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘3の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>数秘3の性格は、朗らかで天真爛漫</strong>
    <br>いつもニコニコしていて、一緒に居て楽しい気分になります。
    <br>場のムードメーカー的存在だったり、何もしていなくても可愛がられることも。
    <br>周りからは何も考えてないように見られてしまう事も多いですが、結構周りの顔色を伺っています。
   <br>心の中ではいつも怒られないかビクビクしているとてもストレスに敏感な一面も。
   <br><br>
    ちゃんとしよう…と思っているのだけど、今この瞬間が楽しい方に流れていってしまう。
   <br>ちゃんとしているつもりなのになぜか怒られてしまう。
   <br>そんなところがあります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘3の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>楽しい事以外スルーされてしまう</strong> 
    <br>無意識に今この瞬間の楽しさを常に求めてしまうため
    <br>ストレスを感じる事は忘れっぽくなったり、怒られないか気にしすぎてしまって余計失敗してしまうことも。
    <br>自分の中のアイデアや情報などの滞りもストレスになってしまいます。
    <br>
    <br>
     <strong>自由になるために不自由に飛び込んでしまう</strong>
     <br>「自由になったー！」という感覚を感じる為に、あえて不自由なところへ飛び込んでしまっている事があります。
    <br>そこでタイミングをはずしてしまって怒られて落ち込む…ということも起こりがちです。
    <br>
    <br>
    <strong>うまくいっていても、全てどうでもいいや！となってしまう事がある</strong>
    <br>数秘3には『破壊と創造』というキーワードがあります。
    <br>うまくいっていても、なぜか全てどうでも良いや！と思って全てをなかった事にしてしまうこともあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘3の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
    <br>数秘3が苦手なことは、楽しい事、ストレスフリーが最優先されるために
    <br>『先々を考えて今頑張る』ことや『緊張感』、『自由に出来ないきゅうくつさ』を感じる事がとても苦手です。
    <br>予定を覚えておいたり「◯日までにこれを」と言われても気分が乗らない時はなかなか進みません。
    <br>『しんどい』と感じてしまう感度がほかの数秘よりかなり高め。
    <br>ちょっとしたことでも投げ出してしまう時はその瞬間の楽しさを見出せない時でしょう。   
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘3のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>「ちゃんとして！」「ちゃんと考えて！」</strong> 
    <br>その瞬間その瞬間の感覚で動いてしまったり、アイデアを出す数秘3にとって
    <br>「ちゃんと」という言葉はストレス、縛りにしかなりません。
    <br>「ちゃんと」を意識しすぎてしまい、逆に思考がフリーズしてしまったり
    <br>ぎくしゃくして天真爛漫さを発揮できなかったり余計にミスが増えてしまったりします。
    <br>※「ちゃんとする」ということに楽しさを見出せる方はやる事ができます。   
    <br>
    <br>
      <strong>「それ、何か意味あるの？」</strong>
     <br>クオリティを気にせずアイデアを出したり、意味を考えずに発言したり
    <br>話の流れに沿っていないことをやったりします。
    <br>数秘3の創り出すものは子供のように無邪気で思いつくままのもの。
    <br>クオリティや後先は意識しておらず、それを先に考えてしまうと、途端にアイデアの源泉がしぼんでしまうでしょう。
    <br>クオリティや後先を考えず「見て見て！」と言うのは
    <br>自分の生み出した楽しさや感情を人と共有して楽しみたいからなのです。
    <br>
    <br>
      <strong>「空気読んで」</strong>
     <br>数秘3の言動はなぜかその場の流れや雰囲気を壊すようなタイミングで発動してしまう事が多いです。
    <br>全く悪気はないのですが、なぜかそんなタイミングで発動してしまいます。
    <br>本人は無意識で、どうしようもなくて、直したいけれども直せなくて、困っていることがほとんどです。
    <br>一見ご自身でいやだと感じてしまう人も多いこの性質は、険悪になりすぎた空気を変えたり
    <br>だれかの溜まったストレスをつっつくことで発散する役目を担っていることもあるのです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘3の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ストレスをマメに発散すること</strong> 
    <br>誰かとおしゃべりしたり、歌ったり踊ったりして発散したり、浮かぶものを書いたり、描いたり。
    <br>自分の中のものをデトックスするものとして自由に外に出す時間を取りましょう。
    <br>ポイントはクオリティやまとまっているかを気にしないこと。自由にやりましょう。
    <br>
    <br>
      <strong>「しょうがない、怒られよう」と覚悟すること</strong>
     <br>怒られることがとても怖い数秘3。
    <br>ミスをしたら？間違っていたら？と思うと萎縮してしまい、より自由でいたい気持ちを縛ってしまいがちです。
    <br>数秘3ってなぜかわからないけど、何もしていなくても怒られやすいのです…。
    <br>怒られないように頑張っていても、ミスをしたり怒られちゃったり。
    <br>「怒られるかも…」って不安になるときは、「しょうがない、怒られよう」と肚をくくることで状況がよりひどくなることが防げます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘3の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>楽しいことをみつける、楽しい雰囲気にすること</strong> 
    <br>今楽しいことが最優先ということは、どんなにしんどい状況でも楽しい事を見つけることができたり、居るだけで周りが楽しい、明るい雰囲気になります。
    <br>楽しいことになら、持ち前の頭の良さやクリエイティブさを最大限に発揮！
    <br>今あるものでどう工夫して楽しいものを作ろう？や、美味しいものを作ろう？という方向にフォーカスできると、色々アイデアが湧いてきます。
    <br>ちょっとした事で楽しむ事ができたり、ぎちぎちの規則の中で抜け道を見つけることも得意です。
    <br>そして、数秘3は個性的なセンスの持ち主。
    <br>面白いことを好むので、周りとちょっと違うものに目が行ったり、びっくりするような組み合わせを考えたりします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘3が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>今この瞬間が楽しいことを求めます</strong> 
    <br>そのため、ストレスがない状態、みんながニコニコしている状況を好みます。
    <br>常に何かを創りだすことも好きです。
    <br>手を動かして何か作ったり、声を出すおしゃべりや歌ったり、踊りだしたり。
    <br>内にあるものを表現しようとします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘3の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>どんな事の中にも楽しさを見つけること、工夫すること</strong> 
    <br>数秘3の才能を生かすには、今あるもので何かを創り出したり、工夫しようとしてみること。
    <br>自由に発想をしてみたり、手を動かしたりしてみる事が数秘3の才能を活かしていきます。
    <br>楽しい事を挟んでみたり、テンションが上がる道具を使ってみたり。
    <br>出来たらもっと楽しいことになる！というイメージをしてみるのも効果があるでしょう。
    <br>
    <br>
      <strong>きっちりしようと思わなくて良い</strong>
     <br>やっていて楽しいならこの限りではないのですがきっちりできなくても大丈夫。
     <br>大人らしくとか、親らしくとか、上司らしくとか、完璧に、と思うことより、
     <br>気楽にやること、楽しむことが一番高いパフォーマンスを発揮できます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘3と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>数秘2は共感力が強く、やりたいと思う事を一緒に共感して楽しんでくれるので、楽しいことを分かち合いたい数秘3にとっては一緒にいて嬉しい存在です。
    <br>一緒に遊ぶと楽しい！と感じられる関係でしょう。
    <br>他の人と関わる時に数秘2にヤキモチを妬かれやすいので、関係が長続きする鍵はそこにあるでしょう。
    <br>
    <br>
      <strong>数秘6</strong>
    <br>数秘6はお世話好きなので、喜んで楽しい事についつい夢中になって忘れてしまう大事なことをフォローしてくれたりと頼もしい存在です。
    <br>何か教えてくれる時も、合わせて優しく教えてくれる。
    <br>「ありがとう」や反応が数秘6にとってのモチベーションなので喜ぶリアクション大きめの数秘3は6にとっても癒される相手。
    <br>数秘6が怒っている時は、ありがとうを言い忘れているか、お世話に疲れているけど言い出せないとき。
    <br>偶数は基本的に言いたい事を言いたいように言えない所があります。
    <br>時にはお休みさせてあげてください。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>数秘9はどんな事でも（ちょっとヤンチャで怒られそうな事でも）「いいんじゃない？」と受容してくれたり、
    <br>怒ったりする時もソフトで威圧感が少ないので数秘3にとって仲良くしやすい相手です。
    <br>お互いに忘れっぽいところがあるので約束を忘れたりしても「あ、やっぱり(笑)」と笑いあえる関係。
    <br>お互い一緒に居て楽なところがあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘3が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘4、7、8、22</strong> 
    <br>距離感や価値観にかなり大きな違いがある組み合わせです。
    <br>普通にしていたら彼らにとっては距離が近過ぎたり
    <br>普通だと思っていたら彼らからするとあり得ない！という事だったりします。
    <br>かと言って気をつけていれば地雷を踏まずに済むかというと
    <br>逆に気をつけるとより踏んでしまう……という事態が起こったりします。
    <br>価値観や世界観が違うだけなので、自分の子供っぽさや無邪気さを責めないでください。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
