<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘7の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>どんな状況でも自分の考えを貫くタイプ
      </strong>
    <br>
    <br>周りに流されず独自のセンスとシニカルな視点を持っています。
    <br>合理的で本質的なものだけがあれば良い、と捉えがちなところがあります。
    <br>興味のある無しで態度がはっきり分かれます。
   <br>興味無いものは視界に全く入らないので流行りものには疎いタイプです。
   <br>反面、興味のある分野で話の合う人とはマニアックに深く語り合い、何時間でも話せる勢いです。
   <br>
   <br>
    批判的にモノを見る、ディスりから入ることも多いですが、数秘7は基本興味ないものは完全スルーな性質のため、ツンデレ（愛あるディス）とも言えるでしょう。
   <br>調べはじめるととことん追求や研究をしたくなります。
   <br>みんなが気づかないことにも謎や違和感を見つけ、なんで？それはどういうとこからそうなる？と頭の中が不思議でいっぱいに。
   <br>細かい定義も気になりやすく、沢山資料を集めて調べてたり関連するものを集めて、色んな角度から深いところまで調べようとします。
   <br>本人は単なるリサーチのレベルでも分析力が高いです。
   <br>どんな人が何をやっているかや、それがどういう理由でできているかなどを積極的に関わらずともよく観察して分析しています。
   <br>
   <br>
    ストイックで緻密な性質は研究者より職人気質としてあらわれる人もいて、こだわりが強く、作るものに対してミリ単位の違和感も許せないこともあります。
   <br>また、静かなひとりの時間と空間を大切にします。
   <br>何か追求したかったり、内省をするときはひとりになって没頭します。
   <br>
   <br>
    ひとりの環境になれなかったり、情報過多になってしまうときは心のシャッターを締めてしまい、ひとりになる状況を作ってしまうことも。
   <br>興味があることをとことん突き詰めていく数秘7ですが、自分が「これに気がつきたかったんだ」ということがわかると途端に興味が冷めてしまいます。
   <br>それは人生をかけた哲学の追求の一部としてみると途中経過ですが、興味を持ってやってきたこととして見ると中途半端で飽きっぽいと自分を評してしまうことも。
   <br>
   <br>
    周りからはミステリアスで近寄りがたい孤高の存在と思われている人も多いです。
   <br>上辺だけの付き合いはしないので、環境によっては孤高の存在として見られることもあります。
   <br>そんな評価をちょっと寂しく思いつつも自分の考えは曲げる必要がない。
   <br>そんな自分を貫くカッコ良さが数秘7にはあります。
   <br>倫理的におかしい、辻褄が合わないと思えば相手がどんな権威を持っていたとしても斬り込んでいく強さがあります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘7の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>物事を斜めに見る</strong> 
    <br>物事を見たときに、素直にそのまま「そうなんだ」と受け取ることができません。
    <br>みんなが気づかないことや細かな言い回しに謎や違和感を見つけ、「なぜそうなるの？」「なぜそれをする必要があるの？」「本当にそうなの？」と追求したくなります。
    <br>気になることはその場で調べ始めるのですが、そこからどんどん「なぜ？」が増えてかなり深いところまで探求をし始め、気がついたらものすごい時間が経っていることも。
    <br>人に聞く時はただ違和感や矛盾が気になったので聞くだけなのですが、批判的だと言われてしまったり、怖がられたり、なぜ？を繰り返すことを煙たがられたりすることがあります。
    <br>
    <br>
     <strong>言葉が足らない</strong>
     <br>数秘7は色んなことを色んな方向から見て、たくさんぐるぐる深いところまで考えたり確かめたりしています。
    <br>でも、人にそれを話すときに、合理的な性質が出てしまい、全てを話すには情報が膨大すぎて、時間を取らせてしまってはいけないとか本質と違う所を重要だと思われてはいけない…と思ってしまい
    <br>途中について短くまとめることができず、結論や本質の定義など最小限のことだけ伝えてしまいます。
    <br>その結果、言葉が足りないと言われてしまったり毒舌だと言われてしまうことも。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘7の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>まわりくどい、合理的でない</strong> 
    <br>合理的にしようと考える数秘7は回りくどい言い回しや、結論（オチ）が見えないもの、だらだらとした日常会話が苦手。
    <br>「で、何が言いたいの？」とツッコんでしまったり、離れていつの間にか自分の世界に入ってしまいます。
    <br>
    <br>
      <strong>興味がないこと、納得できないことには動けない</strong> 
    <br>数秘7は興味が無いことは視界に入りません。
    <br>自分の追求したいことに時間も気力も全部振っているため、社会現象が起こるくらい流行しているものでも知らないということも多いです。
    <br>ましてや、お付き合いのための情報収集をする気もありません。
    <br>また違和感のあるもの、納得できないことに対しては合理的かどうかが判断できないため、動くことができません。
    <br>そのため、集団生活には不向きであると言えます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘7のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>みんながやってるから</strong> 
    <br>数秘7には「皆がやってるからやろう」「決まりなので」「慣例なので」という理由が通用しません。
    <br>やること全てに「なぜそれをやる必要があるのか？」という本質的な理由が必要なのです。
    <br>それが無いことをやるのは合理的でないためというのもあります。
    <br>
    <br>
      <strong>もっとテキトーにやろうよ！</strong>
     <br>数秘7はこれを言われると「テキトーって何…？」と言葉の定義を探して逆に迷宮にさまよいます。
    <br>「テキトー」以外にも、言葉の定義が曖昧なものに同様の反応を示します。
    <br>数秘7は本質的なものを求める分、言葉ひとつひとつにも、厳密な定義を求めてしまうのです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘7の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ひとりでいてもいいことを自分に許可する</strong> 
    <br>数秘7はひとりでいる時間を大切にすることで生きやすくなります。
    <br>これまで収集した情報たちから本質的なことだけを取捨選択するための時間だったり自分に向き合う瞑想の時間が必要です。
    <br>寂しがりな一面もあるのですが、1人になってしまう時や寂しさを紛らわすための人付き合いはさらに寂しさや虚しさを加速させてしまいます。
    <br>本質は優しいため気は使おうとしますが、数秘7が無理に人に気を使うと逆に変な空気が漂ってしまったり、
    <br>毒舌をやめようと思うと妙にねちっこい言い回しになってしまったりすることも多いです。
    <br>「わかってもらえる人だけわかってくれれば良い」で良いのです。
    <br>わかってくれる人がいなければひとりで居てもいい。
    <br>その勇気が持てるようになると自分の追求したいことに没頭できる時間も増え、そんな生き方をしている数秘7が良い、という人たちが集まってきて、本当に関わりたい人とだけ関わっていけるようになり、生きやすくなることが増えてきます。
    <br>上辺だけの付き合いや、慣習になんとなく従ったりすることが苦手な数秘7は、残念ながら周り全員と仲良くできるタイプではありません。
    <br>そもそも、全員と仲良くする気力も時間も無いのです。
    <br>
    <br>
      <strong>2割できたら一旦出してみる</strong>
     <br>数秘7は職人気質で完璧主義。
    <br>細部までこだわりが強く、ミリ単位で納得が行かないと全部0からやり直そうとします。
    <br>しかし、完璧な所までいったかなと思っても、次の段階に移った瞬間、粗が見えてきたりバランスが悪くなってしまってまた0から…となってしまいます。
    <br>また7は数秘の意味的にも完璧を「目指す」ので、どこまで行っても不足や歪な所が目についてしまうのです。
    <br>完成をさせないといけないものの場合は、2割くらい出来てきたら、一旦区切りをつけてみて次の段階に進んでみましょう。
    <br>すると2割から少し下がるので、また2割に引き上げたら次に。
    <br>2割なんて！と思うかもしれませんが、数秘7の2割はかなり完成度が高いレベルなのです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘7の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>本質を見抜く力</strong> 
    <br>数秘7は見ているものの本質に気づく感覚に優れています。
    <br>合理的に最低限なものだけで良い、という捉え方をするので、本質とそれ以外のものを常に見分けようとするのです。
    <br>本音を感じとることも得意で、相手の微細な言葉づかい、仕草や目線、声の様子などとても細かく観察しているのです。
    <br>逆に嘘をついていたり、定義や理論がしっかりしていないものには違和感や矛盾を感じます。
    <br>そのため、上辺だけの付き合いや慣習・なあなあな場は数秘7にとってとてもしんどい場になるのです。
    <br>
    <br>
      <strong>分析力、探求力</strong> 
    <br>数秘7は「なぜ？」と興味があることに対して、色んな方面から調べ始めます。
    <br>曖昧になっているところはとことん定義しようとします。
    <br>世界の謎や神秘的なことも好きですが、しっかり裏付けされたデータやソース、エビデンスも必要だと思っているのが数秘7。
    <br>感覚で本質を掴んでも、どんな角度からでも間違いないと言える証明するためのものを探します。
    <br>些細な違和感にも敏感な所も手伝って、マニアックで深いところまでとことん追求したり探求してしまいます。
    <br>他人が「こんなものか」で終わってしまうところでも手を抜かず、「ここが気になる」と追及していける力があるのです。
    <br>「そこまでしなくても…」と引いてしまう人もいますが、この探究力によって到達できる境地があるのです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘7が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>本当の本当に、覚悟を持って</strong> 
    <br>数秘7の本質を見る目は、「本当の本当に」の部分を見極めようとします。
    <br>本当の本当に必要なもの以外は徹底して不要とする合理主義です。
    <br>でもそうなってしまうのは、いつでも真剣にとことんやろうとしてしまうから。
    <br>納得できないことで動くのは不誠実になるので動けません。
    <br>だから、中途半端なことはできない。
    <br>真剣にやれることに時間も気力も費やしているので、なあなあなことや上辺だけのものに裂く時間や気力は物理的にも無いのです。
    <br>
    <br>
      <strong>謎、難しいこと</strong> 
    <br>数秘7はすぐに解決できない謎や難しいことが気になります。
    <br>分析力・探究力を発揮する対象でもあるからでしょう。
    <br>浅いものより深いものを好みます。
    <br>答えが出ない哲学的なことを考えてしまうことも多いです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘7の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>興味のあることに特化する</strong> 
    <br>数秘7は職人気質。
    <br>興味のあるものをとことんマニアックに掘り下げたり、スキルを研鑽しようとします。
    <br>集中特化する方が力を発揮しやすいので、興味が無いものにも手を出そうとしたり、色々器用にやる必要はありません。
    <br>こだわりは数秘7のセンスが凝縮されているところ。
    <br>完成させないといけないものはどこかで区切りをつける必要がありますが、できる限りとことんこだわっていきましょう。
    <br>
    <br>
      <strong>毒舌は遠慮なく</strong>
     <br>毒舌・辛口は直せないので、出す時だと感じる時や本気でぶつかるべき相手だと思う時はあえて出していきましょう。
     <br>無理に抑えようとすると、抑えようとしている蓋から鋭さが滲み出て、妙にねっとりと皮肉めいた雰囲気だけが伝わってしまいます。
     <br>数秘7の言葉は鋭すぎる・怖いと言われてしまいますが、それだけ本質が見えない、本音がわからなくなってしまっている人が多いということ。
     <br>本質や、本当はおかしいんじゃないか？と違和感を感じていることを後ろ盾やしがらみ、関係性でなあなあにせずズバッと言えるのは貴重でありがたい存在です。
     <br>違和感に対してバサっと斬ってくれた方が助かる、と言ってくれる人たちも実は多いのです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘7と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘4</strong> 
    <br>数秘4はマイペースを大切にするので、つかず離れず、べたべたしない程よい距離感になります。
    <br>冷静に物事を捉えようとするのも話が合いやすいところ。
    <br>興味があることに集中してしまい、日常生活や基本的なことが疎かになりがちな数秘7にとって、土台を支えてくれる数秘4はとてもありがたい存在。
    <br>ただ、自分ルールや自分正義を押しつけて来られるとバッサリと論破したくなります。
    <br>ルーティーンや急な予定変更は数秘4にとってはストレスなので、気まぐれなところを折り込んでもらえるかどうかが関係が長く続くための鍵になるでしょう。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>なんとなく考えていることを察してくれる数秘9。
    <br>うまく言葉をまとめられない数秘7にとって心強い存在です。
    <br>がっつりと干渉されすぎないけど、構ってほしいときは対応してくれるのも数秘7にとっては嬉しいところ。
    <br>オールマイティにこなせるので、数秘7のできないところはサポートしてもらえるのも助かるポイントです。
    <br>ただ、執着をしないタイプなので、本気で何かにのめりこむところが無いのがイライラしてしまうポイントかも。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘7が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘3</strong> 
    <br>数秘3は数秘7からするとイライラしやすいことが多い性質を持っています。
    <br>色んなことに次々興味が移り変わって気が散りやすい。
    <br>楽しそう！という思いつきで行動するので、数秘7から意味ある？みたいなこともよくやる。
    <br>作るもののクオリティが甘い。
    <br>数秘7のパーソナルスペースに簡単に踏み込んでしまう(本人は踏み込まないように気をつけようとしてるけど、踏み込んでしまう)
    <br>別に普通にしてるときに「怒ってる？怒ってる？」と聞いてくる…など。
    <br>自分の心の安全の距離を保ちながら付き合うことが大事です。
    <br>でも、あまりにもイライラするときは、完璧主義になりすぎていないかな？と自分を振り返ってみるのも大切です。
    <br>
    <br>
      <strong>数秘8</strong>
    <br>数秘8はみんなで大きなことを成し遂げよう！という感覚でいるので徹底して合理性を求める数秘7からすると理解しづらかったり
    <br>数秘8が管理することも必要性を感じなかったり
    <br>根性論や多くを語らないことによる「こうって決めたからこう！」というやり方に納得ができなくて動けなかったり。
    <br>違和感を感じるので指摘すると数秘8はプライドが高いため目をつけられることがあったり…と、何かと反発することが多い組み合わせです。
    <br>ストイックな点においては共通しているので、お互いが同じものを見ている、と認識できれば大きな結果を出せる組み合わせになります。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
