<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘2の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>数秘2の性格は、控えめで穏やかなタイプ</strong>
    <br>
    寄り添い上手で、相手が何を感じているのか、何を言いたいのかを推し量り、相手のことを自分のことのように共感することができます。
    <br><br>
    反対の意見だとしても、どちらにも寄り添って話を聞いてくれるため 板挟みになってしまったり、喧嘩や争いの仲裁に入る羽目になることもしばしば。
   <br><br>
    物事を良いように捉えたい、潔白でありたいという清らかさを求める人ですが、 清らかさを求めるあまり、嫌なものや黒いものを脳内から自動消去して見えないようにしてしまうため、騙されやすい一面があったり、 何でも自分が悪いというように捉えてしまいやすかったりします。
   <br><br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘2の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>共感性が強すぎて自分の意見がわかりにくい</strong> 
    <br>
    相手のことを自分のことのように感じられる感受性の強さがありますが、本来それとは別に自分の意見や思うことがあります。
    <br>
    相手を大切に思うものの、自分の意見があるときに優先する方がわからなくなり、曖昧にしてしまうこともあります。
    <br>
    周りからは八方美人とかごまかしている、と言われてしまうこともあるでしょう。
    <br><br>
     <strong>どちらかを選ぶと選ばなかったことに悶々とする</strong>
     <br>
    2つ選択肢があればどちらの視点にも理解を示す、どちらも良いと感じてしまいますが、 生きているとどちらかを選ばなければいけないということが起こります。<br>
    <br>
    何かを選んだときに、選ばなかった方のことを考えたり、自分の選びたい方は本当にそっちだったのかがわからず悶々としたり
    <br>
    選んでもなおどちらの選択肢にも板挟みされているような感覚を覚えます。どちらかを選ぼうとするとすっきりした感覚を持つことができません。
    <br>
    <br>
    またこの感覚は嫌だと感じているものにも起こり、嫌だと思っているのにずっと気にしてしまう現象も起きます(涙)。
    <br>
    <br>
    <strong>いざこざの仲裁や板挟みに合いやすい</strong>
    <br>
    はっきりとこっちが良いと言いたくないし、そんなに簡単に言えない。みんな良いものだし仲良くしていて欲しい。
    <br>
    そんな優しい気持ちの持ち主だからこそ、いざこざが目についたり板挟みに巻き込まれてしまいます。
    <br>
    仲良くないものを仲良くしたい、相反するものを繋げたいからこそ見つけてしまうのですが、次から次にみつけてしまうのはしんどくもあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘2の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>積極的になることが苦手</strong> 
    <br>
    数秘2は前に出たり目立つことを好まない控えめなタイプ。周りを慮るため、意見を言ったり積極的に動くことが苦手です。周りに引っ張られて動くことが多いでしょう。
    <br>
    <br>
      <strong>NOを言うことが苦手</strong>
     <br>
    数秘2は両方に共感ができるため、選ぶことやはっきり決断することが苦手なので、NOを言うことも苦手。かなりのエネルギーを使ってしまいます。
    <br>
    我慢して相手に合わせてしまうことも出来るので、NOを言うより合わせる方を選んでしまい、疲れたなあと思っても何時間も話を聞いてしまうことも。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘2のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>自分の意見を持って！</strong> 
    <br>
    数秘2はどちらの意見も尊重しているうちに自分の意見がどっちなのかわからなくなることが多いです。
    <br>
    自分の意見が無いわけではないのですが、基本的に相手を優先し、よっぽど嫌なことではない限り嫌なことを自覚しづらいので困ってしまいます。
    <br>
    <br>
      <strong>はっきり決めて！</strong>
     <br>
    あっちも良いしー、こっちも良いしーとどちらの良さもわかるし、どちらを選んでも後悔してしまう数秘2ははっきり決めるのが苦手です。
    決めようと思ってもなかなか決められず、落ち込みます。
    <br>
    <br>
      <strong>うじうじしないで！</strong>
     <br>
    何かを選べば何かを選ばなかったことが気になるので、頭にひとつ浮かべば「でも…」という言葉がよぎる。
    仲裁能力がある故にギスギスしたことに出くわすことも多い。
    また全てのことが自分のせいだと思いやすい。
    <br>
    ネガティブ度は全数秘1なので、さくさく決めたりガンガン行ける数秘持ちたちからすると数秘2はうじうじしているように見えてしまうでしょう。
    <br>
    本人も気にはしているところなので、ぐっさりささってしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘2の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ただひたすら話を聞いてもらう</strong> 
    <br>
    いつも聞き役に回る数秘2ですがたまにはがっつり話を聞いてもらいましょう。
    <br>数秘2はオチや結論をつけることは苦手なので、ただ溜まっているものを出していく感覚で。
    <br>聞いてもらう人には「ただ聞いてもらいたいんだけど、良い？」と一言断ると良いでしょう。
    <br>選べるなら相手の数秘も選ぶと会話中のモヤモヤはさらに減ります。(ただ聞く、が苦手な数秘もいますので)
    <br>
    <br>
      <strong>両極をOKする</strong>
     <br>
    曖昧ではっきり決められない、AもBもどちらも良いと思うこと
    <br>そんな自分の感覚をOKしてあげましょう。
    <br>両極を理解できるという優しさと思慮深さの現れですし、それが数秘2の個性です。
    <br>でもでも…は反対のことを憂慮している感覚です。どっちも自分はアリで良いんだ、と捉えてくださいね。
    <br>ここを認めるのはかなりの骨ですが、両方あると認めることで 気持ちのバランスが取れます。
    <br>忌み嫌う、自分の酷いところも同様にOKしてあげてくださいね。
    <br>そんなギャップが好き♡と言ってくれる人は必ず居ます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘2の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>聞き上手</strong> 
    <br>
    相手のことを自分のことのように共感することができ、穏やかなリアクション。
    <br>自分と違う意見だなあと思っても、真っ向から否定することはほとんどありません。(好きな人なら) 人の話を聞くことが得意です。
    <br>積極的にこちらから何かアクションを起こすわけではないので、何も出来ないと感じやすいですが、ただニコニコして話を聞くことって誰にでもできるわけではありません。
    <br>
    <br>
      <strong>共通点を見つける</strong>
     <br>
    相手のことを自分のことのように捉える性質を使って、相反するものからも似ているところ、共通点を見つけることができます。
    <br>それを使ってまったく縁のなかった人同士をつなげることも。 
    <br>
    <br>
      <strong>仲裁をする</strong> 
    <br>
    仲裁は数秘2の一番得意とするところ。
    <br>まずお互いの話を聞く力でガス抜きをすることができ、お互いが歩み寄れるところを見つけてサポートします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘2が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>身近な人たちが仲良くしてくれていることを好みます。</strong> 
    <br>
    また、相手がいてこそ立てるところがあるので、自分の好きな人が自分と共通することがなるべく多いことを喜びます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘2の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>中間を目指す</strong> 
    <br>他に持つ数秘との組み合わせにもよりますが、積極的に目立とうとしたり無理に自分の意見を出そうとする必要はありません。
    <br>めちゃめちゃ良いわけでも悪いわけでもない、上なわけでも下なわけでもない、ちょうど真ん中くらいが一番能力を発揮しやすいポジションです。
    <br>
    <br>
      <strong>繋ぐことを意識する</strong>
     <br>置かれている環境がどうあれ、何かと何かを繋ぐことを意識してみると数秘2の才能を生かしやすいでしょう。
    <br>
    <br>
      <strong>相手のサポートをする</strong>
     <br>相手が何を感じているのか、何を言いたいのかを推し量ることができるので、前に出るよりもサポートに回るほうが力を出しやすいです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘2と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘1</strong> 
    <br>自分で決めて、ぐいぐい進んでいく数秘1は、能動的に動くより周りを見てサポートする方が本領を発揮できる数秘2にとって心強い存在です。
    <br>また周りを省みにくい数秘1にとっても、数秘2はありがたいストッパー的存在であり、サポーターです。
    <br>ただ、相手によってはワンマンが過ぎるところがあるので、振り回されてしまったり我慢を重ねすぎてしまう恐れもあります。
    <br>時には人に話を聞いてもらったり、嫌だと感じていることは思い切ってNOを言ってみたり、
    <br>相手が強いからこそ自分を思い出す、尊重することを意識することで関係が長続きするでしょう。
    <br>
    <br>
      <strong>数秘3</strong>
    <br>一緒にいると楽しくなる存在。
    <br>美味しいものもお互い好きなので、おでかけなど楽しい時間が過ごせます。
    <br>おしゃべりをしているうちにあっという間にすごい時間がたっていることも。
    <br>数秘3は時々無自覚に人の地雷を踏んでしまうことがあるのですが、そのときは数秘2のことを大事にしていないというより性分なのです…。
  <br>
    <br>
      <strong>数秘9</strong>
    <br>お互いなんとなく求めていることもわかるし、距離感もわかるし、話したいことがあれば「そうだね」と聞いてくれる。
    <br>一緒に居て心地よい組み合わせです。
    <br>ただ、どちらも受動的なので、積極的にどこか行こうか、などのお誘いがしにくいタイプ。
    <br>また数秘9はなぜか気配が消えてしまうので急に連絡がつかなくなったりすることがあることや、
    <br> 好き嫌いが数秘2ほど激しくなく（ほんとはあるけど数秘2ほど表に出ない）だれにでもあまり変わらない態度なので、数秘2がやきもきしてしまうところがあります。
    <br>束縛しようとすると数秘9はするっと逃げてしまうので、そこは注意です。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘2が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>数秘2同士は相手の気持ちを読み合う者同士、初対面では気があいそうな感じも受けますが付き合いが続くと遠慮しあってしまって悶々とした気持ちをお互い抱えてしまうことも。
    <br>大事な話をするときは第三者を挟むと良いでしょう。
    <br>また、愚痴を言い合う時などはずっと喋っていられますが、状況改善や発散につながりにくい組み合わせのため、共感に傾きすぎると愚痴りたい対象への負の感情を増幅させてしまう結果になってしまうことも。
    <br>話を聞くときは中間スタンスで聞くことができると良い発散になるでしょう。
    <br>
    <br>
      <strong>数秘7</strong>
    <br>自分の意見をはっきり持っていて、言うことを良しとしている数秘7。
    <br>すぐに自分の意見がわからなくなる数秘2にとっては、確固とした自分を見つけたり、スパっと切るという言動に憧れますが、繊細な気質なので怯えたり傷ついてしまうことも。
    <br>数秘7は「わかってくれる人だけわかってくれればいい」スタンスなので、周りからの承認や共感をそこまで求めていないこともあって、共感することが強みの数秘2はほかの数秘に比べて本領を発揮しにくい環境になります。
    <br>また、数秘7はひとりの時間が必要なので、いつも一緒に居てくれた方が安心しやすい数秘2にとっては寂しい思いをしやすいでしょう。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
