<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="container">
  <div class="row ">
    <div class="col-md-8">
      <div class="result-main">
         <p><strong class="strong-title">数秘1の性格</strong></p>
         <p class="main-text">数秘1は裏表なくサッパリしています。</p><br>
         <p class="main-text">直情型なのでカッとなる事も多いですが、その分引くのも早く、引いた後はカラッとしています。</p><br>
         <p class="main-text">シンプルな性質なのでこれは好き、これは嫌いと思ったことはそのまま口にします。ハッキリ、ストレートに言いすぎて敵を作ってしまうこともありますが、考えていることがわかりやすいタイプでもあります。</p><br>
         <p class="main-text">元気でエネルギッシュな雰囲気を持っています。声が大きかったり無意識に強い言葉を使うので、それが人によってはトゲトゲしているように受け取られたり攻撃されているように捉えられてしまうこともあります。それを気にして出さないように潜めようとする人もいます。</p><br>


      </div>
</div>