<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘9の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>飄々としていて独特のユルさとじんわりしたユーモアがあります
      </strong>
    <br>
    <br>周りや場を俯瞰して見ていて、周りの人の考えていることや感情までなんとなく察してしまう理解力があります。
    <br>全方位から理解するので、他の数秘が「酷い！」と感じるようなことでも一旦は「まあ、そうなるよね」とか「そういうこともあるよね」と（モヤモヤするところはあっても）理解を示します。
    <br>理解力があるゆえに相手の反応のやり取りまでイメージでき、それがめんどくさいなあ…と思って「そうだね（棒）」という反応をしていることもあります。
   <br>一緒に居る人は基本否定されないため、気持ちが軽くなり話をずっと聞いてもらったりしたがるのですが、数秘9本人は共感をしているわけでは無いので依存されて困ってしまうことも。
   <br>理解力が高いので空気を読み、場に空気のように馴染もうとします。
   <br>目立つことを好みません。
   <br>印象に残ることを避ける方もいらっしゃいます。
   <br>高い理解力を使って相手と場に合わせて自分の考えや感情の表現を縦横無尽に変えられる多彩さを発揮します。
   <br>ただ場によって別人のようにもなるので、それが本人には「本当の私って…？」という悩みにも繋がるようです。
   <br>けれども決めることや断ることが苦手で、周りからお願いをされると断れなかったり、流れに押されて理不尽を被ったりすることも。
   <br>
   <br>
    なぜか行く先々でかなり面倒な後始末に携わってしまうこともあるでしょう。
   <br>本来の姿は花が咲いたことや季節の変わり目、空気の匂いが違うなど、日常のささやかなことを大切にし、生きるために絶対に必要なこと以外はなるべくしたくない徹底的な省エネ気質です。
   <br>自分から積極的に動くことはほとんどありません。
   <br>本当に必要なこと以外は忘れっぽかったり動けず、周りから助けてもらうこともあるでしょう。
   <br>許せたり共感できなくても理解しあい、許すことが大切だと感じているため、ささいなことにモヤモヤする自分が性格が悪いと感じてしまうこともあります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘9の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>無意識の擬態</strong> 
    <br>数秘9は周りの人の考えや感情まで瞬時に察する力があります。
    <br>柔軟すぎるために無意識に相手の考えや感情に合わせた振る舞いをしてしまうところがあります。
    <br>察する能力が高過ぎて、まるで擬態のようです。
    <br>場所や人によって全く違う人のようになることも。
    <br>人の感情や考えと場の状況、自分の意見が混ざり混ざってカオスになり、戸惑ってしまうことも多々あります。
    <br>また、なぜか自分でもわからないけどぐったり疲れている…という時は擬態疲れの可能性があります。
    <br>
    <br>
     <strong>生きるためにギリギリの必要最低限なこと以外はできない</strong>
     <br>数秘9は根本を大切にする数秘で、自分の生命を維持するギリギリの最低ラインがあればいい、というタイプでもあります。
    <br>なので、9にとってやらないといけないと駆り立てられるものは、世の中にそんなに多くは無いのです。
    <br>擬態能力で周りの人や自分の他の数秘に影響を受けてがむしゃらにやったり頑張ったりすることもありますが、本来はそんなに頑張る必要があることが少ない性質。
    <br>無気力に思えたり（言われたり）周りの人ができることでも出来ないことがたくさんあることに落ち込んでしまうこともあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘9の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>嫌しかわからない</strong> 
    <br>数秘9は色んな価値観を理解＆まずは肯定しようとしますし、360°視点でものを見ようとするので、大体のことは「なんでもいいんじゃない？」と捉えます。
    <br>それゆえにはっきり「これが良い」と決めることが苦手です。
    <br>でも、目の前に（←ポイント）嫌なものが来たら「う〜ん…」とはっきりとは示さないものの、周りから見て明確な拒否する反応を示します。
    <br>だけど、目の前に来ないと自分でも分からないので、自分も周りも戸惑うことが多いです。
    <br>
    <br>
      <strong>"責任"に敏感</strong> 
    <br>"責任"は9にとって足枷や重みとなってしまい、持ち前の柔軟さや360°レベルの理解力が発揮されづらくなります。
    <br>そのため自分が責任を持つ展開かどうかにとても敏感。
    <br>高い視点と、先の先の先までわかってしまう力も作用して周りの人が責任と感じないようなことでも責任と捉えます。
    <br>少しでも責任がかかりそうになるとかなりのストレスになるのです。
    <br>頭では動かなくてはとわかっていても、忘れてしまったり動けなかったりすることも。
    <br>それが無責任だと捉えられてしまうこともあるようです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘9のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>"●●なんだから""責任持って"</strong> 
    <br>数秘9は流れる水のようにありたいので、"●●なんだから"と役割を認識してもらおうとすることは枠にはめることになり、窮屈さを感じます。
    <br>責任に対しては上記のようにかなり敏感でストレスを感じやすいです。
    <br>常に役割や責任を求めてくる相手に対しては、すっ…と存在感を消してしまうこともあります。
    <br>
    <br>
      <strong>自分の意見はないの？自分らしくして！</strong>
     <br>何者にでもなり、何者でもない掴みどころのなさと多彩さが数秘9の魅力ですが、それゆえに「自分らしさって何だろう？」と悩んでいることも多いです。
    <br>「自分らしさ」「自分の意見」という枠をつけようとしてもまとまらなかったり、視点の高い数秘9からするとその部分が誰かの模倣であるという気もしてしまったり、逆に混乱してしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘9の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>性格悪い、俗人な自分もOKする</strong> 
    <br>色んな視点や価値観を"それもアリ"と理解しようとする数秘9は、"許せない""それはナシ"と思ってしまう部分に厳しく目をやりがちです。
    <br>だけど、自分のそう感じるところに"性格悪い"とダメ出しをすると、不思議なことにますます周りにそんな人や状況が現れてますます厳しくなりがちに。
    <br>数秘9本人は仏ではなく、1人の人間で俗人なので、綺麗なところばかりではなく"許せない"と感じる気持ちもあって当たり前です。
    <br>自分の中にもあるけどしょうがないよね、とまず自分を許すことで周りにも寛大になれていきます。
    <br>
    <br>
      <strong>逃げても良い</strong>
     <br>本来省エネ気質なのに"完成させる、終わらせる"という役割を持つ数秘9はなぜか大仕事を任されたり理不尽なものをぶつけられたりすることがあります。
    <br>でも、自分でなくてもできることに対しては全く動けなかったりします。
    <br>断ればいいのに、とアドバイスされることが多いですが、数秘9は断ることができないので、任されたまま動けない…ということも多々。
    <br>基本受け身で、できなかった時の責任を考えて「まあいいか…」と捉えて取り掛かってしまいますが、断れないなら受けなくて良い状況を作るのも1つの手です。
    <br>数秘9の必殺技"気配を消す"を使ってみたり、ケータイを置いて出かけたり、周りと連絡が取れないようにあえてしてみたり。
    <br>欲しいもの（条件）を全部手に入もし押しつけられたとしても、選択肢としては途中で投げてもOKだし、誰かに丸投げしてもOKなのです。
    <br>モヤッとしたら、逃げちゃっても良いのです。れるには？という選択肢も考えてみることがおすすめです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘9の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>理解力と高い視野</strong> 
    <br>数秘9は周りの考えていることや感じていることを先の先まで察することができる理解力を備えています。
    <br>「なんか…こうなってこうなってこうなるんだろうな〜…」というのが予想できてしまう感覚です。
    <br>これを場に応用すると、俯瞰して観察をしています。
    <br>基本は傍観していますが、頼まれた時や自分しかできないような状況の時はやるべきことを瞬時に捉えてそつなくこなしていきます。
    <br>
    <br>
      <strong>多彩さ</strong> 
    <br>数秘9は突出した何かを持つことは無いですが、色んな価値観を理解することができるので、それを多彩さという形で表現することができます。
    <br>人や場に合わせて別人のように雰囲気を変えたり、仕事ではオールマイティに人手の足りないところをこなして行ったり、
    <br>アートの分野では色んなジャンルでの表現をする方もいるでしょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘9が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ささやかな日常</strong> 
    <br>数秘9はご飯が美味しい、着るもの寝るものの触り心地が良いことや星や月を眺めたり、季節の行事など、日常のささやかな感動を大切にします。
    <br>毎日生きてご飯が食べれてあったかい布団で眠れれば十分なので、
    <br>刺激過多、ガツガツいくぜ！目標は大きく！などの現代社会は数秘9にとってはしんどくなりやすいです。
    <br>ついつい周りに流されてそれを達成しなければいけない気持ちになっていたらちょっとストップをかけてみてください。
    <br>ナマケモノくらいがちょうど良いです。
    <br>
    <br>
      <strong>自分でないとできないこと</strong> 
    <br>好きなこと…というとちょっと語弊がありますが、やる上でストレスが少なめなこと。
    <br>「何でもいい」「別にいいよ」が口癖の数秘9。
    <br>本音は断ったりやりとりがめんどくさかったりで引き受けてしまうことも多いですが、他にやれる人が多い場合は結構ストレスになることも。
    <br>「特にこれをやりたい！」というものは自分でもわからないのですが、（その状況で）自分でないとできないことが自然とやる気になれることです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘9の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>流れに任せる</strong> 
    <br>自分で決めることや積極的に何かをしていくことが苦手な数秘9。
    <br>流れに任せて行き着く先で多彩さを発揮したり、物事の終わりに立ち会ったり。
    <br>ギリギリでこなしていくことも多いですが、命さえあればオッケー、何とかなるを体験していきます。
    <br>ただ、命に関わることや本当に嫌なことは逃げたり気配を消して逃れてくださいね。
    <br>
    <br>
      <strong>こだわらない</strong>
     <br>周りの人を見ていると何か目標を持った方がいいのかな？とか、のめり込むような何かを探した方がいいのかな？と感じることがあるかもしれませんが、
     <br>ひとつのことに執着しない（できない）、多角的な捉え方ができる柔軟性が数秘9の持ち味。
     <br>ピンポイントでこだわってしまうところ以外は無理にこだわる必要はありません。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘9と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘11</strong> 
    <br>数秘11は9がうまく話せなくても言いたいニュアンスを察知してくれるありがたい存在です。
    <br>数秘11の相手に必要な一言をくれるという能力が、情報が多すぎて頭の中が整理しづらい数秘9にとって光明になることもあります。
    <br>数秘11は等価交換が必要ですが、数秘9は居るだけで相手を軽くしている（愚痴など重いものを引き受けている）能力があるため、交換が成立していることも多々有ります。
    <br>
    <br>
      <strong>数秘33</strong>
    <br>数秘33は"ありのままが一番"なところが共通しているので気が合う相手です。
    <br>天真爛漫でありながら礼儀正しくあろうとする数秘33は数秘9にとって居心地の良い相手です。
    <br>喜怒哀楽がはっきりしながら、ほとんどのものに「素敵だね！」と言える数秘33の器は数秘9にとって憧れるところもあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘9が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘8</strong> 
    <br>数秘8の大きな結果重視！なスパルタ的熱さや求める豊かさは、数秘9の好むささやかな日常とはかなりギャップがあるため、
    <br>「そんなに頑張る必要ってある？」「それって必要？」と疑問に思うことが多々あります。
    <br>反発するのもめんどくさくて従うけれど、いつの間にか忘れてしまったりフェードアウトしてしまったり。
    <br>また、数秘8の強引さにも窮屈さを感じてしまうことがありそうです。
    <br>数秘8は大雑把なところがあり、足元が見えてないことも多いので、思い切って腹の内を話してみると新しい展開が望めるかもしれません。
    <br>他の数秘の人が話しても数秘8は聞き入れられないことも、数秘9の柔らかいけれど根本を突いた物言いがちょうど良い響き方をすることがあります。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
