<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘4の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>数秘4の性格は、落ち着いた態度で真面目でしっかりしている良い人と言われます
      </strong>
    <br>
    <br>確かにいつも冷静であろうとし、客観的にものを捉え、慎重で細かいところに目を配り、物事を堅実に安全安心に運ぼうとするので、周りからはしっかりして見え、細かいところのフォローを頼まれることも多いです。
    <br>しかし、本来はゆっくりマイペースで安定や平穏を望むタイプです。
    <br>安心で安全、常に平静である状態を望むため、心が揺さぶられることに敏感で、イレギュラーや急な予定変更、大きな波があることに弱いです。
   <br>弱い分心が揺さぶられないように冷静でいようとしたり、イレギュラーが起こらないように慎重に慎重に計画を練ったりします。
   <br>そのため、行動がゆっくりになります。
   <br>
   <br>
    慎重すぎて石橋をぶっ壊す勢いで叩き、壊して「ほーら！壊れちゃったじゃん！」をやることもしばしばです。
   <br>また堅実さを求めるので新しいものにはすぐに飛びついたりせず、危なくないか情報や証拠を集めます。
   <br>永い期間続くもの、普遍的なものを良しとするため、流行はあまり好みません。
   <br>心が大きく揺さぶられることが苦手なこともあって変化することや新しいものを取り入れることも苦手。古風な性質であるとも言えます。
   <br>
   <br>
   枠からはみ出すことを嫌がることや、土台を大切にすることから、物事の基本やルールと決まっていることはしっかり守るべきと考えます。
   <br>イレギュラーは認めないので、頑固とも言えますが、場の秩序を守るために必要不可欠な性質です。
   <br>その一方でルールの穴も細かいところまで気にします。利用する人が平等になるシステムを作るべき、という正義感の強さがあります。
   <br>システムやルールを大切にするため、真面目だと言われがちな4ですが、本人はピンと来ないことも。
   <br>
   <br>
   なぜなら4にとってシステムやルールといった土台をしっかりさせたいのは、自動的に運用させて将来的に楽したいという怠け心からというのもあるからです。
   <br>自動的に運用したいので、穴があっては困るわけで。
   <br>でも、長い目で見て楽をするためにコツコツと頑張ることができるので、結果的に見れば真面目なタイプと言えます。
   <br>それから、数秘4は普遍的なものを見ようとするため、極めて客観的で現実的にものごとを見ます。
   <br>そのため目に見えない世界のことは理解に苦しむことも。データや理論を大切にします。
   <br>あまり感情を大仰に表すことができないのも手伝って対応自体が淡々としてしまい、ドライだと言われてしまうこともありますが、冷静に対応することが4の優しさの形です。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘4の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>超慎重派</strong> 
    <br>数秘4は慎重に物事を進めるタイプ。
    <br>安心安全であることを何よりも大切にするので、危険がないかひとつひとつ確かめたり、理解も細かく噛み砕いてから理解していくのでスピードが出しづらいところがあります。
    <br>
    <br>
     <strong>枠からはみ出せない</strong>
     <br>数秘4は安心安全、安定を大切にするため、自分がここまで、と(無意識に)決めている枠からはみ出すことが難しいです。
    <br>それは予測不可能なことで危険なことだから。
    <br>確実に安全だとわからないと枠から出ることが難しいのです。
    <br>その結果、普通・平凡と評価されて軽く見られてしまうことも。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘4の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>急激な変化</strong> 
    <br>数秘4は常に安定している状態を望むため、イレギュラーや急な変更があると対応できずテンパります。確実で堅実な方法をじっくり探すため、即断即決、臨機応変に行動するなど、スピーディーな対応も苦手です。
    <br>
    <br>
      <strong>感情・見えないもの</strong> 
    <br>確実さを大事にする数秘4は現実的に冷静に物事を見るため、見えるもの、図れるものを信頼し、それ以外は理解ができません。
    <br>特に見えにくく揺らぎやすい感情は苦手。自分自身は常に平静であろうとしますし、物事はルールで判断し、感情を勘定に入れないようにします。
    <br>また感情的な人は理屈が通じないことも多く、自分も揺らぐので遠ざけようとします。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘4のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>早くして！</strong> 
    <br>数秘4はとにかく安心安全で確実に行きたい、間違いたくないので慎重に進む方向を決めようとします。
    <br>そんなゆっくりとしか進めない自分にコンプレックスを感じてはいますが、勢いやカンで物事を決めることができないのです。
    <br>即断即決は難しいタイプですが時間感覚はしっかりしているため、時間にかなり余裕のある状態で「いつまでに」と言ってもらえるのが数秘4には助かります。
    <br>
    <br>
      <strong>要領悪いね、応用力ないよね</strong>
     <br>数秘4は細かい基礎を地道に繰り返していきます。
    <br>物事の理解を順番に細かく噛み砕いて理解していくタイプなので、咀嚼するのに他の人より時間がかかります。    
    <br>難しい専門用語はもちろん、人によっては感覚で順番が飛んで説明されることも多いため、途中はどうなっているんだ？と理解に時間がかかり、さらに、噛み砕いた情報を使うための理解がまた別に必要です。
    <br>そうしてゆっくり理解したものを組み上げていきますが、こちらも確実に安全であるように慎重に慎重を重ねて組み上げていきます。
    <br>ポイントを感覚で捉えることができないため、要領が悪いと言われてしまいがちに。
    <br>また理解したものを応用させるには、また応用するためのスキルを地道に身につけるための理解と努力が必要なため、応用力も無いと言われてしまいがちです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘4の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ハードルを下げる</strong> 
    <br>数秘4は「100％確実にこれが安全である」という証拠が掴めないとGOサインを出せないところがあります。しかし、イレギュラーは起こるものですし、証拠を掴んでいるうちに環境が変わってしまったり、チャンスを逃してしまうこともあるでしょう。
    <br>逆に安全な範囲でならGOサインが出せるので、まずはできる範囲でできることを探してみたり、戻れる道を作りながら、半歩ずつ踏み出してみるのがおすすめです。
    <br>変化がとにかく苦手なので、ハードルをどんどん下げて行くとGOサインを出しやすくなります。過程が増えてしまいますが、進む前が一番時間と気力を消費するので、ここをどれだけ軽くするかが生きやすい鍵になります。
    <br>
    <br>
      <strong>ドライでも良い</strong>
     <br>数秘4は場の安全安心も考えます。
    <br>足元をしっかりさせて危険がないようにするためには、物事を現実的に客観的に見ることが必要になります。
    <br>周りのことも考えるからこそ、平静で客観的に事実を捉えようとするタイプなのです。
    <br>感情的なことに共感できないのは、どんな時でも周りの状況を冷静に観察している数秘4の優しさとも言えます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘4の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>具体化・現状把握</strong> 
    <br>数秘4は客観的で現実的な状況の把握と整理、具体化が得意です。
    <br>1から何かを生み出すことは苦手ですが、アイデアを実現するために必要なものは何か計画に必要なものを見つけていったり、曖昧なものを具体化したり難しいものを噛み砕きます。
    <br>計画に穴や周りの人が理解できないところがあれば即座に見つけることができるでしょう。
    <br>計画の他、場のみんなが平等に運用できるための土台やマニュアルを作ることも得意です。
    <br>時間の概念は数秘一しっかりしていますので、タイムマネジメントも得意。
    <br>普遍性を見るのでパターン認識も得意です。
    <br>
    <br>
      <strong>コツコツする</strong> 
    <br>基礎的なこと、地道なことを担当するのが得意です。
    <br>決して華美ではないけれど、無くてはならない土台の細かい作業にあまり苦痛を感じません。
    <br>長い時間をコツコツと積み重ねた結果、土台を慎重に作る性質も手伝って、ちょっとやそっとでは揺るがないものを作っていることもあります。
    <br>また色んな経験をパターンとしてコツコツ蓄積し、長くいればいるほど頼もしいベテランとして力を発揮します。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘4が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>きっちり細かく決まっていること</strong> 
    <br>数秘4は安定した変わらないものがあると安心します。
    <br>何時からこれをやる、といったルーティーンがあることやきっちりとやることや時間が細かく決まっていることを好みます。
    <br>
    <br>
      <strong>マイペース</strong> 
    <br>数秘4は自分のペースを頑なに守ろうとします。
    <br>自分のペースより早いと安全かどうか確認できないことが増えていき、足元がおぼつかなくなります。
    <br>処理能力が追いつかず挙動不審になったりフリーズすることもあるため、自分のペースでやるのが一番安心で確実だととらえます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘4の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>土台づくり</strong> 
    <br>実は野心を密かに持つ4は華やかなポジションに憧れますが、突飛なことを狙うよりも基本的なことや、わかりにくいことをわかるようにする、システムに穴があれば塞ぐなど、一見地味に思われる当たり前のことをコツコツ続けることでいつの間にか一目置かれる存在になります。
    <br>力を発揮できるかどうかは味方が多い環境かどうかにも左右されるため、信頼を積み重ねることや味方を増やしておくことも大切です。
    <br>今あまり味方がいない環境なのであれば、少しずつでも味方になり得る人とつながることを意識してみると良いでしょう。
    <br>
    <br>
      <strong>普遍性を見出す</strong>
     <br>数秘4は真の安定、真の安全安心を求めようとしてしまう中で、長い時間をかけても変わらない普遍的なものを見つけることもできます。
     <br>それは「ひとつの正しい答え」としてはっきりしたものではないかもしれません。
     <br>数値には置き換えられなかったり、いくつかのパターンが存在したり、バイオリズムなどやや長期的なスパンで捉えるものもあるでしょう。
     <br>「正しさ」の基準を少し緩めて視野を広げてみると、才能を生かしやすくなるでしょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘4と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘6</strong> 
    <br>数秘6は仕事が丁寧でみんなとの和を大切にするため、集団生活の適正が高めなこともあり、困った人に目が行きやすいところがあります。
    <br>お互いフォローしあったりすることもあるでしょう。
    <br>ただ、数秘4は客観的、データ重視で、数秘6は感情面重視なため、そこがぶつかりあってしまうこともあります。
    <br>
    <br>
      <strong>数秘8</strong>
    <br>行動力があって周りをまとめる影響力も強く結果を出していく数秘8は数秘4にとって憧れの存在になることも多いです。
    <br>数秘8は大きいところを見て動いていくので足元に穴があることも多く、数秘4が細かいところの穴を塞いだり動いて土台を支えます。数秘8の説明不足を噛み砕いて周りが登れる階段を作ろうと考えたり、動きがいがあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘4が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘1</strong> 
    <br>数秘1はせっかちさん。理解は自分なり、後ろはかえりみず、足元の障害は蹴っ飛ばす力技を見せます。
    <br>数秘4はスピードはゆっくり、慎重に、障害は危険がないよう観察してから避けます。
    <br>とにかく正反対なのでぶつかることが多い組み合わせです。
    <br>ただ、フォローや足元が全く見えない数秘1のサポートをしたり、数秘1が切り拓いた道をみんなが通れるように整備する役割を数秘4が引き受けることもあります。
    <br>
    <br>
      <strong>数秘3</strong>
    <br>数秘3は今が楽しいのが最優先。
    <br>枠やルールは破壊するためにある(持っている本人はしたくないことも多いけれども)雰囲気なので、数秘4はペースを崩されたり、積んでいるものを崩されてモヤモヤしてしまいます。
    <br>ただ、崩されるということはまだ安定としては不十分ということでもあります。(しっかりしてない以外にも柔軟さが必要ということもあります)
    <br>また、数秘4の誰でもできるように…と考えるのは3持ちさんが指針になることも多いです。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
