<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘33の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>数秘33の性格は、礼儀正しいけど天真爛漫でノリも良く、子供っぽい無邪気なところもあればお母さんのようなしっかり者なところもあります
      </strong>
    <br>
    <br>12種類の数字の中で個体差がかなり大きく、33を取り扱われ始めた歴史が浅いこともあり、33の共通項はまだそれほど多く言われてはいません。
    <br>根は真面目で、努めて常識的に振る舞おうとします。
    <br>色々なことや周りの人たちのことを考えていますがぶっ飛んだ独特のセンスや極端になってしまう感覚の持ち主で
   <br>本人は周りのためにしているつもりのことでも周りに理解してもらえない…と言うことが起こったりもします。
   <br>良かれと思ったことがなぜか相手の気にしているところを刺激することになったり、超特大の地雷を踏み抜いてしまうことも…。(涙)
   <br>そのため、頑張って無理して普通になろうとしてはとてもしんどい思いをしている方や、開き直って徹底的に普通を排除し変人ルートを歩こうとする人もいます。
   <br>
   <br>
   <br>周りの人に対してはありのままを受け入れ、どんな自分でも良いね！素敵だね！と手放しで称賛してくれます。
   <br>1桁の数字持ちの人たちが「それはどうなの…？」と思うようなことでも「そんな人だしね」で受け入れてしまう心の広さを持っています。
   <br>だけど、次の瞬間に「みんな嫌い！じぶんも嫌い！地球なんかばくはつすれば良いのに！」と激しく怒りを表現することも。
   <br>理由は特にないことも多く、言動やテンションがコロコロと変わってしまいます。周りの人は振り回されますが、本人が1番持て余し悩んでいます。
   <br>また気圧や天体の動きなど、人にはどうしようもないことの影響を強く受けてしまい不調を起こす人も多いようです。
   <br>
   <br>
   <br>とにかく、常に全力500%で頑張る頑張りやさんです。前にも500%で頑張るのはもちろん、後ろに下がる時も500%。生きるのに必死です。
   <br>そして頑張っている分、自分にできることとできないことの見分けをつけることが早いので、周りは何もしていないうちに？と思うくらいの状態でできなかったことをお願いすることもあります。
   <br>周りからはそう見えないけれど、1日1日生きるのにいっぱいいっぱいすぎて急に生きることが嫌になってしまうこともあります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘33の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>周りが笑っていないのは自分のせいだと感じる</strong> 
    <br>感受性が高いので、広い範囲で周りの感情に敏感になってしまいます。
    <br>例えばショッピングセンターなどの人の多いところに行ったとしたら、視界に入る人の中で笑顔でない人がいたら自分のせいだと感じてしまうところがあります。
    <br>また、3階にいるのになぜか1階に行こう！と言う感覚になることも。
    <br>引きつった笑顔など、気を使っている・無理しているのも感覚でわかってしまい、自分がなんとかできないか、自分のせいなのか考えてしまいます。
    <br>
    <br>
     <strong>言動がコロコロ変わる</strong>
     <br>Yesと言っていたのに、急にNoになったり、やらない！と思っていたのに次の瞬間やろう！って思ったり。
     <br>相反する内面が瞬間瞬間でコロコロ入れ替わり、突然真逆の感覚になることも。
     <br>嘘をついているわけはなくどちらも本当なのでギャップが大きすぎて、自分でもどうして良いのかわかりません。
    <br>
    <br>
      <strong>いつも全力500％</strong>
    <br>結果として中途半端になってしまったり、うまくできないことはたくさんありますが、出し惜しみや妥協という言葉が辞書にありません。
    <br>やることも、感じる感情も、それを表現するのも常に全力500％。
    <br>笑う時も、怒る時も500％の出力です。
    <br>コロコロ変わっている状態も、どちらも500％の選択です。
    <br>極端に振り切ってしまうので、周りとうまく折り合いをつけられなかったり逆に自分を抑えすぎて（抑える時も全力）しんどくなってしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘33の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>懐が広すぎる</strong> 
    <br>懐が広い…のは本来長所なのですが、数秘33持ちさんの場合、痛覚が無いのだろうか？と周りに心配されるほど、
    <br>他の人が痛みを感じ怒り狂うような場面でも「それがその人のありのままだから」と相手を受け入れてしまう寛大さを持っています。
    <br>33持ちさんだって人間なので痛いものは痛いし、辛いことは辛いのに、ありのままを受け入れられる器が大きいが故に自分を傷つけるものや貶めるものと離れるという発想が出てきづらく、しんどいことと距離をとることが苦手です。
    <br>
    <br>
      <strong>依存されること</strong> 
    <br>構われすぎたり、甘えられたり、依存されすぎることは苦手で、急に氷のような態度になってしまうことがあります。
    <br>天真爛漫なので気付きにくいですが、距離が近くなりすぎるとどうして良いかわからなかったり、自分が頼られることを受け取りにくいところもあります。（生きてきた道の中でプレッシャーになりやすいこともある）
    <br>本人が人に大事なことを話すことや、わがままを言ったり何かを頼ることをやることは生きる上で当たり前の手段のうちで甘えるうちに入りません。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘33のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>普通にして！</strong> 
    <br>何事も極端になってしまう数秘33にとって普通というものがそもそもわからないし、普通という言葉のもたらす束縛感が大嫌いな33。
    <br>逆にイライラしたり、モチベーションを下げる原因になってしまいます。
    <br>
    <br>
      <strong>言うこととやること統一して</strong>
     <br>言動がコロコロ変わってしまうことは本人も気にしていながらどうにもできない部分。
    <br>統一しようと頑張ってはいるのですが、逆にちぐはぐが大きくなってしまうこともあります。
    <br>
    <br>
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘33の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>まず自分が楽しむ</strong> 
    <br>周りからはあまりそうは見られないのが悲しいのですが、普段から周りに合わせようと500％で頑張っています。
    <Br>周りを喜ばせようと常識的に振る舞おうとするあまり、自分が楽しみたいという3の性質を置き去りにしがちになってしまうので、【まず自分が楽しむ！】というところを大切にしましょう。
    <br>
    <br>
      <strong>周りと違っている自分にOKする</strong>
    <br>コロコロ変わってしまったり、発想がぶっ飛んでいたり、周りに理解されづらかったり…。
    <br>それは数秘33が悪いのではなく、ただの違いでしかありません。
    <br>理解できないなりにでもありのままを認めてくれ、尊重してくれる人は必ずいるので、ありのままでOKな自分でいられるところになるべく多く居る時間や頻度、場所を増やしていきましょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘33の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>どんな人もありのままでOKしてくれる</strong> 
    <br>短所の項で懐が広すぎると書きましたが、周りが敬遠するような人でも、ナチュラルにありのままで素敵！と受け入れることができます。生きているだけで素敵！素晴らしい！というスタンスです。
    <br>逆にありのままでない＝本音を隠したり、自分を大切にしていないところに甘んじようとする人には厳しく接することもあります。
    <br>
    <br>
    <strong>相手に必要なことをやっている</strong> 
    <br>色々考えてのこともありますが、相手に必要だと思うことを宇宙規模の視点から感じ取って伝えることもあります。
    <br>自分ができていないのに…と伝えることをためらうこともありますが、直感的な要素もありますので、使うかどうかは相手にお任せして伝えて見ても良いのでは。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘33が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>自分が楽しくて、人も喜ぶこと</strong> 
    <br>相反する要素を持つ数秘33ですが、しんどいのはどちらかの要素に偏ろうとした時。
    <br>自分のため（3要素）と人のため（6要素）両方を叶えられることが好きです。
    <br>
    <br>
      <strong>ありのままで無理しなくても自分もみんなも笑顔になれること</strong> 
    <br>数秘33のうち、3要素は今が楽しいことが好きだし、嫌なことはしたくないタイプ。
    <br>でも6の要素が周りにもさせたくない。
    <br>合わせると、自分もみんなも本音そのままで無理をしなくても笑顔でいられることを好みます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘33の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>自分が楽しいことで周りが喜ぶことをする</strong> 
    <br>大事なのでもう１回載せます。
    <br>今身近に喜んでもらえる人がいなくても、どこかにいる感覚はありませんか？
    <br>実務的なところでは両方を満たすことは難しいかもしれないので、歌ったり踊ったり絵を描いたり文章をしたためたり、アート分野へのトライもおすすめです。
    <br>その際は技術はあまり気にしないこともポイントです。
    <br>あくまでも楽しいことが優先です。
    <br>
    <br>
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘33と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘3</strong> 
    <br>いつもニコニコしてくれている数秘3は数秘33にとっての癒しです。
    <br>なかなか自分で3の性質を補充しきれないところもあるので、その部分でのサポートも担ってくれます。
    <br>失敗しても後に引きずらないし、お互いまあいっか！で楽しめます。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>数秘33のカオスな頭の中もなんとなく理解してくれ、コロコロ変わってしまうことにも柔軟に対応でき、ベタベタすることもなく、一緒にいるだけで気持ちを軽くしてくれる9も癒しの存在。
    <br>ただ、数秘9が数秘33の目に見えないしんどいところを肩代わりしてくれている面もあるので、しんどそうにしている感覚を感じ取った時はそっと一人にしてあげてください。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘33が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘4</strong> 
    <br>ひとつひとつなぜそうなるかを順番に理解しないと動けなかったり、具体的に細かく理解しようとしたり、枠からはみ出すことを嫌がったり、
    <br>場のルールを重要視したり、今この瞬間よりも長期的な安定を大切にするので、数秘33からは細かいことが伝えられず、なかなかわかり合えない点が多いです。
    <br>ただ、曖昧になっているところを具体的にするためのプロセスを手伝ってくれたり、足元の危険なところを指摘してくれたりと実生活においてはありがたい存在でもあります。
    <br>
    <br>
      <strong>数秘8</strong> 
    <br>プロセスを大切にする数秘33にとって結果が全て！な数秘8のやり方は理解が難しいことも。
    <br>現実的なことを重視するので、数秘33がキャッチしたことはなかなか取り入れてもらうことが難しいこともあります。
    <br>数秘8は基本的に自分にも他人にも厳しいスパルタ気質なので、一緒に何かするときは3の性質が逃げ出そうとすることが多くなりそうです。
    <br>ただ、8持ちさんは数秘33の個別に出来ること、伸ばせることを見抜いてそこをやるが良い！とびしばししてくれることも。
    <br>たまにはチャレンジしてみるのもアリかもしれませんね。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
