<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘22の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>厳しく規律と平等を重んじるきっちりした一面と強い共感性で優しい一面を持ちます
      </strong>
    <br>
    <br>穏やかで物腰柔らかく、なんとなく威厳ある雰囲気を感じさせます。
    <br>直感で物事の要領を掴み、周りの表情や状況も冷静にキャッチしながら素早く動くことができるので、周りの人より仕事ができたり、細かいことに気がつくことができます。
    <br>それ故にできない人のことが理解しづらい一面も。
   <br>自分に厳しい分、場の穏やかさを乱す人にもかなり厳しい言い方をしてしまい、自己嫌悪に陥ることもあります。
   <br>あっちの人もこっちの人も、と同時にたくさんの人の状況や気持ちを考えてみんなが平等に笑顔になれるために何ができるか考えますが、周りからは夢物語、天然だと思われがちです。
   <br>不思議と惹きつけられるひとがたくさん集まってくるのでカリスマ扱いされることもあります（逆に多くの人から妬みの対象になることも）。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘22の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>自分ごとのように共感する範囲が広すぎる</strong> 
    <br>視野が広すぎ＆共感力が高すぎるところがあります。
    <br>地球の裏側のニュースでも自分のことのように感じたり、自分が悪いようにとらえてしまい、責めてしまうことも。
    <br>
    <br>
     <strong>嫌いな人のこともフラットに捉えようとする</strong>
     <br>たとえ嫌いな人でも相手のことや背景を理解しようとして、嫌いな気持ちとフラットに捉えようとする気持ちがせめぎあってしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘22の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>これで間違いない！と思うと変更できない</strong> 
    <br>普段はマイペースであまり積極的に動くほうではないですが、ひとつ決めると「決めたから！」と人の意見を聞かずに進めてしまうところがあります。
    <br>しかも速度が結構早い。
    <br>広い視点でたくさんの人が平等になることを慎重に考えた結論なのですが、ワンマンだと捉えられたりはっきり言うタイプと衝突してしまうことも。
    <br>だけどもこれが正しいことだと言いながら自分が正しいのかはっきりしない感覚もあり、自分の判断・行動にいつも違和感を抱えています。
    <br>違う意見を聞かないのもどこかモヤモヤが残ってしまいます。
    <br>
    <br>
      <strong>前に出ることや輪に入ることが苦手</strong> 
    <br>広い範囲での平等やみんなが平穏になれるには、を考えますが、みんなと一緒に！というより離れて客観的に観察しながら平等になるにはを考えます。
    <br>完全中立を取ろうとするので、誰とも馴れ合わないようにしてしまうことも。
    <br>控えめさもあり、先頭を切って動くのも苦手です。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘22のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>現実的な目標を持って！</strong> 
    <br>22は広い範囲での真の平等を目指すため、自ずと高い理想になってしまいます。
    <br>実現する方法は周りの人の予想できる範囲の外にあるので
    <br>現実的な目標ばかりを立て続けるのは小さすぎたり、どこかしっくり来ない感じを持ち続けてしまいます。
    <br>
    <br>
      <strong>早くして！人に合わせて！</strong>
     <br>“早くして”＝“他人のペースで動いて”というのはなかなか苦手です。
    <br>マイペースな22は人に合わせたペースで動くことが苦手。できないことはないけれど、しんどくなってくるし相手の拙さが見えてきてイライラしてしまうことも。
    <br>
    <br>
      <strong>特別扱いしてよ！</strong>
    <br>広い範囲で平等であることを大切にする22にとって、どんな権威を持つ人であれ、特別扱いは何よりも苦手です。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘22の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>大きなビジョンを描く・理想を高く持つことにOKを出す</strong> 
    <br>数秘22の持つこうしたい！と思う理想を「夢物語だ」と笑う人はいるでしょう。
    <Br>理想を現実化するとっかかりのピースがまだ見つからない段階では、人に理解されるのは難しいかもしれません。
    <br>ひとりではどうしていいのか具体的な行動が見つからない時期もあるでしょう。
    <br>しかし諦めなければ、それを現実にする縁や方法と不思議なことにつながることができます。
    <br>
    <br>
      <strong>違う価値観を認めたくない自分も受け止める</strong>
    <br>色んな価値観をフラットに受け止めて理解していきたい22ですが、すんなり受け取れない価値観、ネガティブな感情が沸き起こる価値観もあるでしょう。
    <br>矛盾を感じて自分を責めたくなるかもしれませんが、あなた自身も生身の人間。
    <br>何かに対して感情が湧くのは自然なことです。
    <br>育ってきた環境から学んだ善悪の判断も大切にする自分もいますので、矛盾と折り合いをつける時間も必要です。
    <br>フラットになれなかったり、違う価値観を認めたくない自分もいるんだと少しずつ受け止めていきましょう。
    <br>それが、全ての“人”を平等に平穏にするための理想を実現することにもつながるでしょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘22の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>違う価値観や業界を繋げる</strong> 
    <br>視野が広いので、他の人から見たら異業種・違う価値観の人たちから共通点を見つけて繋げることができたり、必要そうな人に紹介をすることができます。
    <br>
    <br>
    <strong>直感力と現実化</strong> 
    <br>周りから見て理想が高いものを実現する方法を見つける直感の強さと、それを現実にしていく力を持っています。
    <br>全く関係ない人でも自分ごとのように感じられる共感力の高さ。
    <br>例えば遠くの国で起きている人々の苦しい暮らしの話を聞いたときに、自分ごとのように感じ取り、時には自分が悪いのではないか…くらいに感じてしまう共感力の高さを持っています。
    <br>多様性ある価値観を共感しながら客観的に受け止めようとすることもできます。
    <br>その中でそれぞれができる役割分担を見つけていくこともあるでしょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘22が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>みんなが平等に平穏になること</strong> 
    <br>それぞれ自分のできることで役割分担をして大きくなくてもいいので成果を出したり、みんなが等しく穏やかに過ごせることを祈り、どんな状況の人でも同じ事をできることを望みます。
    <br>
    <br>
      <strong>色んな価値観の人がお互いそれぞれを尊重すること</strong> 
    <br>色んな環境や境遇、価値観の人と出会っていきます。
    <br>違う世界同士の人や、違う世界同士のものを繋げていくことを目指します。
    <br>色んな価値観を認めたいからこそ平等であることに強いこだわりを持ち、ひとつの価値観が力を持つことや他を虐げることを極端に嫌います。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘22の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>大きな目標のための小さな目標を設定し、宣言する</strong> 
    <br>22の持つビジョンは大きすぎて、ひとりで叶えるには大きすぎることもあります。
    <br>大きすぎて周りに伝わりづらかったり、実現まで遠いように思えることも。
    <br>そのままではフラストレーションが溜まってしまいます。
    <br>そのため、大きな目標を達成するために自分は何ができるのか？何が必要なのか？という棚卸しと小さな目標設定をすることをオススメします。
    <br>さらに1人では叶えることが難しいことも多く、たくさんの人の後押しがあればあるほど動きやすいので、周りに宣言して味方を集めていったり応援してもらうことをオススメします。
    <br>
    <br>
      <strong>違う価値観の人たちと交流を持ってみる</strong> 
    <br>理想だ、と言われていることを実現するにはこれまで無かった方法や発想が必要になってきます。
    <br>それには同じ価値観の人たちだけでは無く様々な世界の人たちの力やスキル、考え方が必要になるでしょう。
    <br>これまで繋がっていなかった世界と繋がるチャンスや拡がるチャンスには恐れず飛び込んでみてください。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘22と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘8</strong> 
    <br>数秘22の持っている大きな理想が達成できると見えたとき、適材適所を見極め采配してくれたり、周りに想いを拡げてくれたりと現実化していってくれる力強いメンバーになってくれます。
    <br>22はついつい理想論に傾きがちなので、現実化していくのに必要なお金周りのことにも気を配ってくれるのも頼れるところです。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>なんとなくこちらの言いたいことややりたいことをはっきりとした具体的な指示ができなくても理解してくれ、オールマイティに動くことができるので頼もしい存在です。
    <br>こちらの気持ちの重さを軽くしてくれ和やかにしてくれることも一緒に居て居心地が良くなります。
    <br>
    <br>
      <strong>数秘11</strong>
    <br>理想が高いもの同士共感してもらいやすい上に、直感で言いたいことややりたいことをキャッチしてくれて行動も速いエースとして活躍してくれ、心強い存在です。
    <br>ピュアでちょっと天然なところも安らぎます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘22が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘1</strong> 
    <br>数秘1はどちらかハッキリ明快にすることを求めてきたり、思ったままを断定的で強い言い方をするため攻撃的な感じを受けやすいところや
    <br>みんなと同じことをすることが苦手で意識せずはみ出しがちなところがある為、数秘22とはぶつかることも多いでしょう。
    <br>ただ、数秘1には先見の眼があり、まだ何も固まっていない大きなビジョンに良いね！と応援してくれます。
    <br>特にビジョンに向かう初期には心の支えになってくれるでしょう。
    <br>
    <br>
      <strong>数秘4</strong> 
    <br>数秘4はひとつひとつ段階的にゆっくり理解していくタイプで感覚で動くことが苦手です。
    <br>なぜこれをするのか理由がわからないとフリーズして動けなかったり。
    <br>22的に説明したつもりでも理解されておらず進まないといったことがあります。
    <br>数秘4は細かいところに目が行って考えすぎたり、決まったことをすぐに変更できない融通の無さがあったり、その割にはできれば怠けたい…という考えが見え隠れするところがあるため要領の悪さにイライラしてしまうことも。
    <br>理解するまでに時間がかかりますが、理解したことはとてもスムーズに行えますし、出来ない人でも出来るようになる階段づくりなど、目の届かないところの仕組み作りが得意なので、長い眼で付き合う気持ちを持つことがポイントです。
    <br>
    <br>
      <strong>数秘7</strong> 
    <br>数秘7は「みんなが」「みんなの為」という理由が通用しません。
    <br>自体が「わかる人だけわかれば良い」というスタンスなので同じ方向を向いて欲しい…と思うとかなり骨の折れる相手でしょう。
    <br>理想の穴を鋭く突いてくるので苦手意識を持ちやすいかも。
    <br>ただし、なぜその理想なのか、7自体が納得が出来れば人一倍細かなところまで守ってくれるし
    <br>7の「なぜ？」という問いに応えられるということは本質がしっかりしてくるので軸が出来てくるということでもあります。
    <br>向き合いたいとき、振り返りたい時のキーパーソンになるでしょう。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
