<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘11の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>柔らかい雰囲気を持っています
      </strong>
    <br>
    <br>ふわーっと柔らかい雰囲気で、言葉使いも柔らかい。
    <br>だけど、本人はもっとハッキリさせなければ！しっかりしなければ！と思っていたりします。
    <br>潔白で、曲がった事をしたり、自分だけ良ければ良い、という事が嫌い。
   <br>けれども、周りの人のふとした陰（闇？）に惹かれることもあります。
   <br>不思議と惹きつけられる雰囲気を持っていて人に囲まれていることが多いです。
   <br>カリスマ性と表現されることも。
   <br>
   <br>
    だけど、人に対して好き嫌いはかなり激しめ。
   <br>プライベートでは1人でそっとしておいてほしいと思うことも。
   <br>直感・感覚・フィーリング重視で相手が言う言葉の言外にあるニュアンスを感じたり、周りの雰囲気に感化されやすい、敏感なところがあります。
   <br>そのため、人に囲まれたり、人混みではどっと疲れてしまうこともあります。
   <br>人がしてほしい事が言われなくても感じ取れるのとサポートが好きなので、あれこれしてあげますが奉仕はあまり好んでいません。
   <br>give&take、等価交換であるべきだと感じています。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘11の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>自分がわかりにくい</strong> 
    <br>自分の言動は次の瞬間に忘れていたり、「自分」というものを捉える事が難しいです。
    <br>
    <br>
     <strong>人のことがわかりすぎる</strong>
     <br>周りのしてほしいことや言外にある気持ちや感情をキャッチしすぎてしまいます。
    <br>受けてしまう気持ちの量や強さに消化不良を起こしてしまうことも。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘11の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>直感が優れている分、論理的なところが弱い</strong> 
    <br>説明して！と言われても説明できなかったり、もう一度言って！という要求も難しかったり。
    <br>自分の言動は覚えていない事が多いです。
    <br>また、キャッチしたニュアンスで判断するため、サプライズや相手の思いやりあっての隠しごとも嘘ということはわかるので、
    <br>コンディションによってはネガティブに捉え過ぎてしまうことも。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘11のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>「ハッキリして（言って）！」「わかるように説明して！」</strong> 
    <br>感覚でキャッチして、そのまま口から代弁しているので、自分で何を言ったかもわかっていない事が多いです。
    <br>追い詰めるとより感覚が詰まってしまって言葉が出にくくなることも。
    <br>
    <br>
      <strong>責められることがすごく苦手</strong>
     <br>NGワードではないですが、責められることが実はすごく苦手です。
    <br>数秘11は言葉を聞いているというより言外にあるニュアンスをキャッチしているので、責められると
    <br>責められている事ばかりクローズアップして受け取ってしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘11の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>マメにぼーっとする時間をとって、直感アンテナにゆとりをつくる</strong> 
    <br>周りの雰囲気、気にも左右されやすいので
    <Br>雰囲気の良いところ、気の良いと感じるところ、お気に入りの場所、自然のあるところや、神社でおさんぽするのもおススメです。
    <br>お香や塩、パワーストーンなどの浄化グッズもおススメです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘11の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>直感に優れている</strong> 
    <br>相手のしてほしいこともなんとなく理解し、仕事なども要領を直感で掴みます。
    <br>吸収力も高くて、教えてくれた人をあっという間に追い抜いてしまうことも。
    <br>危機をなんとなく察知したり、なぜか行けなくなったことがかえって良かったというラッキーが起こることもあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘11が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>フィーリングや直感</strong> 
    <br>数秘11はフィーリングや直感が大切だ！と感じているので、リラックスしている状態や、ゆとりがある感覚を好みます。
    <br>空間他、周りの人間関係も、平穏な雰囲気を好みます。
    <br>等価交換を望みますので、相手と自分が同じものを持ち合い、高めあえる人間関係を持とうとします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘11の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>フィーリング・直感を発揮しやすい環境</strong> 
    <br>「なんとなくそんな気がする」を信用してくれる人たち、自分が好きだなあと思える人たちの間にいると才能を発揮しやすくなります。
    <br>また、理屈では達成不可能にも思える困難に立ち向かい、フィーリングや直感にそっていくことが
    <br>間違いないと感じるプロセスで力を発揮します。
    <br>「しんどい」「どうして私ばかり？」と思う事も必要なかみさまからの試練として、あえて引き受けている可能性があります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘11と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>理想の高さや潔白でありたいところなど、価値感が近いので仲良くなりやすいです。
    <br>どちらも受け身になりやすいので11持ちさん側がイニシアチブを発揮すると良いでしょう。
    <br>
    <br>
      <strong>数秘7</strong>
    <br>ピンと張り詰めた空気が最初は近寄りがたいかもしれませんが、表裏がなく常に純度高く生きようとしていて深い情報や視点をくれる、自分を高めてくれる相手です。
    <br>また11も7にとって欲しい気づきを（無意識に）くれるので対等な関係でいられます。
    <br>7は距離感を大切にするので、そこが鍵です。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>ふわふわ同士でお互い相手への許容量が大きいので気が合いやすいです。
    <br>人の念や感情を受けてしまいやすいところも似ているので感覚が近いのも仲良くなりやすいです。
    <br>9はどんな視点もOKなので、「これが正しい」と信じていることを覆すようなカルチャーショックは起こりそうです。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
