<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘8の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>限界を超えて大きな目標を達成しようとする向上心の強いタイプ
      </strong>
    <br>
    <br>ただ確実に目標を達成できると感じられないと動けなかったり周りの評価を気にしている臆病な一面もあります。
    <br>またとっても仲間想いで人情溢れるタイプ。仲間、身内と判断した人や家族に対してはかなり面倒見が良く、持っているものを惜しげもなくあげようとしたりアドバイスをくれることも。
    <br>なぜ大きな目標を達成しようとするかというと、自分も仲間や家族ももっと幸せにしたい！と思っているから。
   <br>たくさん買ってあげたいとかたくさん食べさせたい、旅行に連れていきたいなど、モノ的幸福にこだわる傾向が見えますが、感情的な幸福も満たしてこそ真の幸福であるということを知っていきます。
   <br>達成したいことが大きいので見ている視野も広く、パワフル。
   <br>実現したいことも大きいのでたくさん力を欲し、消費します。
   <br>周りの人をたくさん巻き込んで具現化したり実現しようとするので、影のリーダーやボスとして慕われることもあります。
   <br>
   <br>
    ただ、数秘8は外から見えている自分と自分が感じる自分にギャップが大きいようです。
   <br>本人は自分も周りももっと幸せになるために全力を出したいと思っています。
   <br>しかし、あまり感情を見せず（見えないとも言う）いつも冷静でどっしりとしており、考えていることが読み取りづらく周りから見ると何故か社長や王様のように見えてしまうことが多いです。
   <br>悲しいかな、本人が言いたいこと、やりたいことは言いすぎるくらいでやっと少し伝わる勢いです…。
   <br>
   <br>
    どんなことも限界を超えて大きな結果を出すべきだ！と考えがちなため、頑張りすぎるくらい頑張るのが当たり前で、特別なところを目指すのが当たり前。
   <br>無意識に自分にかなり高いハードルを課し、全力で頑張ります。
   <br>何か追求したかったり、内省をするときはひとりになって没頭します。
   <br>絶対に達成する！と決めたら周りが驚くような圧倒的な量を現実的にこなして実現しようとします。
   <br>ただ泥臭い部分はあまり人に見せませんし、自分は当たり前だと思っているのでそれが普通だと思っています。
   <br>どんなことも限界まで頑張る性質が「ギリギリまで我慢する」という状態を引き起こしていることもあります。
   <br>周りの人の面倒もみんな自分が見てやる！と思って抱えきれない人数を抱えようとしてしまいしんどくなることもありますので、自分が手をかける範囲を線引きすることがどこかで必要になります。
   <br>
   <br>
    絶対に達成する！と決めてそのイメージができれば達成を実現する力がある数秘8ですが確実に結果が達成できると思えないとぐるぐる考えてしまってなかなか行動できません。
   <br>特に前例が無いことは二の足を踏みやすいでしょう。
   <br>周りからの印象、評価が気になったり周りと比べてしまう繊細さも持っているので、あまり周りから評価してもらえない環境だと力が発揮しにくくなったりモチベーションが下がります。
   <br>自分は何もできない…と思っている時は自分へのハードルを高くしすぎていないか確認する必要があります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘8の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>大きな結果史上主義</strong> 
    <br>数秘8はプロセスより結果重視。
    <br>大きな結果やすごいと言われることを目指して頑張ることが8にとっての当たり前です。
    <br>なので、物事を役に立つかどうか、どのくらいリターンがあるかどうかで見てしまいがちです。
    <br>常に自分に、すごい！と言われるようなことができなければならない…と厳しいプレッシャーをかけています。
    <br>無意識にとんでもなく高い目標を設定してしまっていたり、出来たことも圧倒的な結果でなければ0と同じ、取れていても「当たり前」と自分に厳しくしてしまいがちです。
    <br>しかし、8は結果が出るとわからないと動けないところもあります。
    <br>すごい目標が達成できる具体的な方法がわからないと動けない…というなかなかのハードモードを無意識に課してしまいます。
    <br>その重圧に心が折れてしまい、「どうせ何もできないし…」と投げてしまう人も。
    <br>
    <br>
     <strong>誤解されやすい</strong>
     <br>数秘8は自分を慕ってくれる人、自分と縁がある人をとても大切に想っています。
    <br>面倒見良く人情味が溢れたキャラなのです。
    <br>大切だと想った人には色々してあげようとしたり、知っていることをどんどん教えてあげようとしたり。
    <br>仲間だと感じている人を傷つけようとする外の人に対しては自分のことのように怒って行動を起こそうとします。
    <br>だけど、自分のやろうとすることをいちいち細かく説明できなかったり、努力はするけど人には見せようとしなかったり。
    <br>人に見せない部分も多いことや素で影響力（周りに「そうなんだ〜！」と思わせる力）が強いので
    <br>本人は全くそのつもりがないのに上から目線とか、マウント取られてるとか、偉そうとか誤解されてしまうことも多いようです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘8の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>弱みを見せられない</strong> 
    <br>とにかく強く在ろうとしてしまう数秘8。
    <br>そのため弱っているところや弱いところを人に見せることをなかなか自分に許せないところがあります。
    <br>人に頼るのも苦手です。
    <br>
    <br>
      <strong>無くなること、減ることが怖い</strong> 
    <br>数秘8はたくさん持っていようとします。
    <br>それはスキルだったり手段や資格だったり、人脈や友達の多さだったり、モノやお金、食べ物だったり。
    <br>人によって重視するものに違いはありますが、誰かを助けたり、"力"になり得るものです。
    <br>特に数秘8にとって"力"はあればあるほど自信になりパワーの源になります。
    <br>逆に言えば無くすことや手放すこと、減ることをとても苦手に感じるのです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘8のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>「役に立たないね」「使えないね」</strong> 
    <br>数秘8は限界まで力を発揮して相手や場に良い結果をもたらしていこうとします。
    <br>そんな数秘8に「役に立たない」「使えない」といった言葉はかなりのダメージをもたらします。
    <br>8持ちさんはその言葉を無意識に自分にかけて発破をかけようとしますがダイナマイトの爆風でのりきるようなもの。
    <br>そればかりでは心も折れやすくなるでしょう。
    <br>
    <br>
      <strong>ないがしろにされる態度</strong>
     <br>どっしり構えていて動じないように見える数秘8ですが、実は周りからどう見られているか比較していたり、評価をとても気にする繊細さも持っています。
    <br>結果主義でもあるので、自分がやったことがどうなっているか、どう思われているかもとても気にしています。
    <br>スルーするとか、報告を怠る、軽く見た態度を取るなどないがしろにされる態度は不安になりがち。
    <br>きちんと行動や言葉で思っていることを聞かせて欲しいと思ってしまいます。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘8の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>誰かに頼む</strong> 
    <br>数秘8はより良い結果を出す為にどうしたらいいか考え色々気づくことができ、粘り強さと圧倒的努力で大きな結果を出していこうとします。
    <br>どんなこともひと通り自分でやっていこうとするでしょう。
    <br>ひとりでやれる範囲のうちはひとりで頑張っていても良いのですが、チームや会社など場としてもっと良い結果を出せないか…と気にするようになると、ひとりで頑張って場の大きな成果を出すのには限界があります。
    <br>周りに任せるより自分でやった方が早いから…とひとりで抱えこみすぎると、どんどんまわらなくなっていったり、周りがより動かなくなっていくことも。
    <br>数秘8はプレーヤーとしても優秀ですが人の能力に気づいて伸ばすにはどうしたらいいかに気づくことでも才能を発揮できます。
    <br>苦手分野は特に、そうでない分野も頼めばできるようになる人にお任せしてその人の才能を伸ばしていき、よりたくさんの人が充実した毎日を過ごせるように、たくさんの人で大きな結果が出せるように動いていきましょう。
    <br>頼ることや苦手を認めることは弱みを見せることに感じてしまい、抵抗が大きいかもしれませんが、やってみるとそちらの方が良かったことに気がついていきます。
    <br>
    <br>
      <strong>欲を出す</strong>
     <br>数秘8持ちさんがしんどさを感じている時は、「こうしたい」とか「これが欲しい」など欲を抑えていることが多いです。
    <br>「結構欲張りですけど？」という方は、本当はもっとたくさん欲しいものや条件があったり、目標が高いけれど失敗しない範囲で、とか周りの顔色を伺って妥協していませんか？
    <br>数秘8はたくさん持っていたり、大きいものを持っていることが自信に繋がります。
    <br>もっと欲ばりになってもOK。無理そうな条件全部欲しい！でもOK。
    <br>それに伴った努力やすることは増えますが、欲にストップをかけないことが数秘8にとってモチベーションになります。
    <br>欲しいもの（条件）を全部手に入れるには？という選択肢も考えてみることがおすすめです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘8の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>面倒見の良さ</strong> 
    <br>数秘8はとても仲間想い、身内想いです。
    <br>きっぷが良く、差し入れをよくしてくれたり、食べきれないくらいいっぱい食べさせてくれたり。
    <br>自分が持っているノウハウなど成長に必要なものをたくさん伝え、繋がっている人たちをどんどん盛り上げたい、幸せにしたいと考えます。
    <br>さらに8は拡げたいと思うので仲間や身内同士が仲良くなり、縁を拡げたり結束を強くしようと考えます。
    <br>集まって盛り上がったりイベントを発案しようとしたり一緒にできる人を誘ったりします。
    <br>反面、仲間や身内から頼られると忙しくても断りづらい一面も。
    <br>
    <br>
      <strong>能力、才能を見出す</strong> 
    <br>数秘8は周りの人の能力や才能などを見出すことができます。
    <br>誰が見てもわかる、価値や力を感じる形にしていきたいと考えることからプロデューサータイプとも言われます。
    <br>「もっとこうしたら評価が上がるのに！」「もっとこうしたらたくさんの人に見てもらえそうなのに！」と伸び代や原石を見るとついつい口を出したくなります。
    <br>また才能以外でも価値があるのにみんなに気づかれていないもの、力になっていないものなどをみんながその価値をわかる形にしよう、使った人がもっと幸せになったり高いレベルで使えるようにならないかと考えます。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘8が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>輝くもの・輝かせること</strong> 
    <br>数秘8はキラキラ輝いているものが好きです。
    <br>物理的にキラキラしている方が好きな方もいれば、めっちゃ頑張って生命力を爆発させている精神的なキラキラを好む方もいます。
    <br>これから輝きそうな原石を見つけて輝くように働きかけていくことも好きです。
    <br>
    <br>
      <strong>有言実行</strong> 
    <br>数秘8は「細かい理屈を語るより、とにかく動けばわかる！」というのが信条。
    <br>口に出すことはやらなければならないという責任感を持っています。
    <br>これは周りの人、特に仲間や身内に対しても発動します。周りの人が「これやりたいんだよね」と言った時、相手は「いつかね〜」くらいの感覚だったとしても、
    <br>「じゃあ本当に実現させよう！」と実行するためのアドバイスや人脈の紹介をしてくれます。
    <br>「やるの？それともやるの？」といった勢いです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘8の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>怖い方を選んでみる</strong> 
    <br>高い目標を自分に課したり、それを達成するだけの粘り強さを持っている数秘8ですが、
    <br>人からの目や評価を気にしてしまう面や失敗を恐れる面もあるだけに、思い切った行動が出来ず持っているものを発揮できないままくすぶっている数秘8持ちさんもいらっしゃいます。
    <br>今の状態にフラストレーションを感じているならば、怖いと感じる方を選んでみましょう。
    <br>キャパシティは広がるので必ず次に繋がります。
    <br>ひとりで飛び込むのが難しいのであれば、方向は違っても目標に向かっている人たちと組んで、
    <br>まずは「いつまでに達成する！」と宣言してみたり進捗を連絡しあってみると良いでしょう。
    <br>
    <br>
      <strong>弱いところを見せる</strong>
     <br>強く在ろうとする数秘8はついつい自分の弱いところを押し殺しがちになったり、できないことを否定しがちです。
     <br>強く在ろうとしたからこそ沢山できることが増えたり恩恵もあると思います。
     <br>だけどどこか現状に頭打ち感を感じているのなら、仲間や身内に「これが苦手」「これはできない」「こういうの怖い」「困っている」など、弱いところを見せてみることをおすすめします。
     <br>数秘8はどっしりして何事にも動じないように見えるので、周りに「困っている」とか「大変である」ということがものすごく伝わりづらい数秘です。
     <br>強いところだけを見せていると、「ひとりでも大丈夫だ」と思われたり、「あの人だからできるんだろうな」と距離を置かれたりしてしまうことがあります。
     <br>周りの人は数秘8から見るととても弱いところがある存在です。
     <br>強いところだけ見せていると、どんどん溝が大きくなって共有できるものが少なくなるのです。
     <br>弱いところを見せることで周りのことも受け入れられることが増えたり、数秘8もそういうところがあるんだ！と親近感を持たれて心の距離が近くなれたりするのです。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘8と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>数秘2は話をよく聞いてくれ、ここぞという時にほしいものを渡してくれたり、言葉が足りない数秘8の通訳を相手にしてくれたりととても心強いサポーターになります。
    <br>ただ、数秘2は好き嫌いが行動の基準になることも多く、ものすごく嫌いな対象には触れようともしないことは知っておく必要があります。
    <br>数秘8からすると理解し難いポイントですが、数秘2は結果を出したいからではなく、数秘8のことか、やっている仕事に好意があるのが動機なのです。
    <br>また、数秘2は気になっていることや不安に思うことを吐き出す場が必要です。
    <br>数秘2はアドバイスを求めていることよりただ聞いて欲しいことが多いので、パートナーであれば「5分なら聴ける」など時間を区切ってもいいので、口を出さずただ聴く時間を作ってあげてください。
    <br>お仕事であれば数秘2の話を聞いてあげる場を作るとより関係が円滑になります。
    <br>
    <br>
      <strong>数秘4</strong>
    <br>数秘4は曖昧なところを見つけて具体化したり、計画の穴を見つけて埋めようとしたり、細かいところに気がついてくれる頼もしい存在です。
    <br>数秘4のできる仕事は数秘8から見れば地味に見えるかもしれませんが、日々がつつがなくスムーズに流れるために大切な、土台やルーティーンとなる仕事を淡々とやることができる貴重な戦力なのです。
    <br>最初はペースが遅く見えたり、要領を掴むのが遅かったり。
    <br>あまりハイペースについていけないところがあったり、睡眠・健康が思いっきり仕事に作用されるので、しっかりお休みを取らせたり余裕を持たせてあげると高いコンディションを維持できます。
    <br>ここまでやる、と終わりが見えていないのを嫌がるところがあります。
    <br>飲み会や集まりをやる際は一旦お開きするタイミングを事前に知らせておくと参加してくれる可能性が上がります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘8が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘7</strong> 
    <br>数秘7は数秘8の「背中から学ぶ」、「とにかくやってみて掴んで行く」「みんなで一丸となって」というやり方が苦手です。
    <br>なぜそれをやらなければならないのか、納得しないと動くことができません。
    <br>合理性を重視するので、慣例もそれをやる意義がなければできません。
    <br>数秘8の大ざっぱな部分をズバリと突いてきたり、詳細な説明を求められたり…とやりにくいと感じやすい相手です。
    <br>しかし、達成する目標が一致したり、行動する意義に納得してもらえたとき、最短で最大の効果を出すためにどこを合理化していくか？
    <br>どこだけ押さえればいいのか？と巧みな手段を見つけてくれる大きな味方となってくれます。
    <br>数秘7は本音を隠す違和感に敏感で不信感を覚えやすいので、弱みを見せられるか、オープンになれるかが鍵になります。
    <br>ただ、集まりなども積極的に参加することがないですし、一緒になって騒いだりも期待できません。
    <br>数秘8からグイグイ行きすぎるとシャッターを閉められることもあるので距離感には注意しましょう。
    <br>
    <br>
      <strong>数秘11</strong>
    <br>数秘11は直感を重視するタイプで、夢や理想を持っていることが大切なタイプ。
    <br>数秘8は現実的で目に見えないものは信じがたく、夢や理想は実現するためにある主義。
    <br>数秘11はモノやお金にとらわれたくないタイプで
    <br>数秘8はモノやお金はみんながわかりやすく幸福感や満たされている感じを得やすいので大事だと考えているタイプ。
    <br>大切にしているものやアプローチがまるで水と油のような組み合わせです。
    <br>数秘8は自分の考えていることや感情が感じとりにくいので、ニュアンスで会話を受け取っている数秘11からは誤解を受けることもしばしば。
    <br>数秘11は直感をキャッチする時はぼーっとしていることが多いのですが
    <br>数秘8から見ると睨んでる？と感じてしまったりと、お互いに苦手意識を持ちやすいです。
    <br>しかし、数秘8はモノやお金などの目に見える幸せと精神的な豊かさ、どちらも大切にしていくことでより自分のパフォーマンスを上げていくことができます。
    <br>対して数秘11は理想に偏りがちで現実的なところが抜けがちになるので、お互いに苦手なものが補いあえる組み合わせとも言えます。
    <br>前例が無くても直感でうまくいくこともあるらしい、と理解（体感）していくことが数秘11の才能をより伸ばすヒントになります。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
