<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘6の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>ついついお世話しちゃうオカンタイプ
      </strong>
    <br>
    <br>ある言動がどんな反応をされるかということに気を配り、想像して動ける人です。
    <br>「みんながうまく行くにはどうしたらいいだろう」をいつも考えています。
    <br>基本は人に喜んでもらうことが当たり前と考え、人に迷惑をかけないようにする。
   <br>自分でできることは自分で頑張るのが当たり前！という頑張りやさんです。
   <br>張り切りすぎて「全て」を自分でなんとかさせよう、と思うことも。
   <br>
   <br>
    だけど人に喜んでもらいたい！の裏側には、「人に嫌われたくない」という気持ちも隠れています。
   <br>周りの人の一挙手一投足を観察し何を表現しているのかを読み取ろうとする力が強いですが、特にメンタルが弱っている時に発揮されると、自分が嫌われていないかどうかを観察する方に力を向けてしまい、しんどくなる事もあります。
   <br>相手によって言い方ややり方を変えようとし、オブラートに包んだ言い方が得意なので、優しい、気がきくと言われます。
   <br>反面、思うことへの誘導のための理屈と取られてしまい、腹黒い、八方美人、本音がわからないと言われてしまうことも。
   <br>
   <br>
    ごちゃごちゃしていることを見つけてしまい、整えていくことも多いです。
   <br>それは人によって部屋のような見えるものを整えることに目が行く人もいれば、人の内面のごちゃごちゃを整えることに目が行く人もいます。
   <br>美しいと思うものが好きで、見た目が綺麗に整っていることを好みます。（ただこの美意識は他の数秘や育った環境にもよって差異は多少あるようです）
   <br>整える際は丁寧な仕事を心がけますが、見えないところに関しては気力が続かずごっちゃりしていることもあります。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘6の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>人のために頑張りすぎちゃう</strong> 
    <br>頑張るのはいいのですが、自分がしんどい時も人に喜んでもらえるように頑張ろうとしてしまう犠牲的になりがちなところがあります。
    <br>人のことは好きだし、喜んでもらいたいと思って頑張って、一人になった瞬間ぐったり…。いうこともよくあるようです。
    <br>しかし、犠牲してまで人を喜ばせようとしていると、なぜか自分が頑張った分周りに喜んでもら得ないとイライラしてきてしまったり、空回りしてお節介！と言われてしまうことも多くなってしまうところも…。
    <br>なのに、頑張って周りの人に喜んでもらおうとするのですが、当たり前だと思っているのでいざ周りの人から感謝されるとそわそわしたり謙遜したりしてしまって意識しないと周りが喜んでいる様子をスルーしてしまうことがあります。
    <br>
    <br>
     <strong>本音をなかなか言えない</strong>
     <br>優しく人に気遣いができるのでなかなかそう見られることはないのですがオープンにして何もかも話すというのが苦手です。
    <br>人をよく見ていることや警戒心が強く、人の顔色を常に伺いがち。
    <br>気を使いすぎて言いたいことを言えなかったり、お願いしたいこともできなかったり、元々本当に大切なとっておきのものは壊れないように大事に大事にしまってなかなか出さないようにしてしまいます。
    <br>そのため、大枠や大体がわかってしまえば他のものが気になり始めてしまって、仕事も次々と変わってしまったり、習い事を始めてもすぐに別のものに興味を持ってしまいます。
    <br>また美しくないものや苦しいものはひとりで心のうちにしまって見せないようにひとりでなんとかしようとしてしまいます。
    <br>そのため、ひとりで抱え込みがちですし、かと言って「本音を話してね」「なんでも話してね」と言われてもなかなかできずしんどくなりがちです。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘6の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>先回りしすぎる・無理し過ぎる</strong> 
    <br>こうなったら次はこうなる！という想像力がよく働き、人の役に立ちたい優しい気持ちもあるので必要そうなことを先回りします。
    <br>ただし、それが過ぎると自分でやりたい人やひとりでやりたい人の気持ちを削いでしまったり、先回りしすぎて人の自立や成長を阻害する結果になることもあります。
    <br>また人のために！を想いすぎて、自分を勘定に入れてなかったり、自分がしんどくなっても人のためにしてあげる気持ちが「犠牲しても頑張る！」にすり替わってしまうことがあります。
    <br>しんどいのに頑張り過ぎると、相手にも頑張った分の見返りを知らず知らず求めてしまいます。
    <br>
    <br>
      <strong>自分のために動きづらい</strong> 
    <br>数秘6は常に人が喜ぶためになることや場が穏やかに回ることを考えています。
    <br>そのため、勝負に勝つとか、自分のために何かすると言うことになるとモチベーションが上がりづらい、パワーが出ないことがあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘6のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>「お節介」「別にいらない」、無視</strong> 
    <br>数秘6は人に喜んで欲しい！と言う気持ちが大きいので、してあげたことに「お節介！」と言われたり、無視されたり。
    <br>やったことに反応がなかったり受け取ってもらえないとかなり心にダメージを負うようです。（ダメージを負わないようゴリ押ししてくるタイプの方もいますが…）
    <br>
    <br>
      <strong>嫌い（ストレートな否定ワード）</strong>
     <br>数秘6は常にこれを言ったらどう思われるか、これをやったらどうなるかを気にしていて、相手を傷つけないようオブラートに包んだ表現をします。
    <br>そのため、相手を気にしていないようなストレートな表現や人を傷つけるような表現や言い方は嫌がります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘6の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>我慢しすぎない</strong> 
    <br>ついつい数秘6は犠牲をして、自分だけ我慢して丸くおさめようとしがちです。
    <br>だけど、いつも優しくしてくれるのに一人で無理して欲しくない、笑って欲しいなと思っている周りの人もたくさんいます。
    <br>周りの人の荷物まで背負う必要はないこともたくさんありますし、本人にやらせた方が良い学びになって先々無駄がないこともありますので、先回りはしんどく感じない程度で止めることで生きやすくなります。
    <br>他にも数秘6は整っているものを好む、美意識が高いが故に、はみ出していたり無駄が出るのを嫌います。
    <br>そのため残り物が出ることや、散らかっていることに人よりイライラしがち。
    <br>そこでも自分がなるべく無理しないように周りができることで協力を仰いだり誘導したり、可愛い便利グッズを使ったりと工夫していくことが必要になります。
    <br>
    <br>
      <strong>みんなを助けなくていい、みんなに愛されなくていい</strong>
     <br>数秘6はなぜか「周りみんな」を「自分の力（だけ）で」喜ばせないといけないと思ってしまうところがあります。
    <br>だけど、それぞれのサポートが必要なタイミングがあったり相性があったりしますので、自分が助けられない人もいます。自分の力が及ばず喜んでもらえない人もいるでしょう。
    <br>そんな人たちは、その人を助ける最適なタイミングや相手が必ず現れます。
    <br>みんなそれぞれが力を発揮して、それぞれが人に喜んでもらい合う世界が作れるように、自分の手の届く範囲に集中すればいいと捉え直すことで生きやすくなります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘6の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>人を喜ばせようとする</strong> 
    <br>相手が何に喜ぶのか、何を嫌がるのか、いつもアンテナを立てています。
    <br>これは相手が喜びそうだと思ったら、自分を顧みず与えてくれます。
    <br>
    <br>
      <strong>交渉上手</strong> 
    <br>人をよく観察していて、どう言ったりアプローチをすれば気持ちよく動けるかを見ていて、その人に合わせて言い方ややり方、理屈の切り取り方を変えることができる交渉上手です。
    <br>誰かを教えたりする時も、その人のレベルや考え方を考慮して言い方ややり方を変え、一人でできるようになるまでサポートする力もあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘6が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>美しいこと・整っていること</strong> 
    <br>数秘6ははみ出しがなくバランスよく整っていること、乱れがないことを好みます。
    <br>全ては無理でも、どこか整っているところ、自分の良い！と思うものに囲まれるところや時間をつくることをおすすめします。
    <br>
    <br>
      <strong>みんながそれぞれ譲りあったり分けあって仲良くすること</strong> 
    <br>数秘6はいわゆる「みんな仲良く」を好みます。
    <br>色んな人がいるからぶつかることもあるけれど、お互いが譲りあったり、適度な距離をとってまるくおさめようとします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘6の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>整える力を使おう</strong> 
    <br>数秘6は特に何かしたり頑張らない状態でも相手を気づかったり暖かい言葉をかけることができます。
    <br>相手の心を自然と暖かく包んでバランスを整えていきます。
    <br>グループなどでは1人で居る人や困っている人を気遣って声をかけ、場を整えることもやろうとするでしょう。
    <br>また、作品や場などを自分の美しい、良いなと思えるように整えようともします。
    <br>ただ、どれも全てを自分ひとりでまるくしよう、完璧にしようと頑張りすぎると、しんどいしイライラするし、さらに空回りしてきます。
    <br>相手や場がまとまるにはタイミングもあるので、放置気味くらいのテンションを心がけてみてください。
    <br>
    <br>
      <strong>全て先回りするより、人を育てる方へ。</strong>
     <br>数秘6は相手の状態に合わせてやり方や言い方を変えることができるので、相手が自立できるようにサポートをすることができます。
     <br>ついつい先回りしようとしてしまうところがあります。
     <br>サポートを任されたときはちょっと辛抱がいりますが、相手の力を信頼して見守ることで力を引き出すことができるので、そちらを目指す方が喜びは大きくなるでしょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘6と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>数秘2は穏やかで周りのことを気遣う事ができ、人のサポートに回る事が多いのでサポーター仲間として心強く、話も合います。数秘2は聞き上手なので話もしやすいです。
    <br>また人と人の仲介も得意なので、6のイメージする人間関係の実現に協力してくれる心強い助っ人になります。
    <br>
    <br>
      <strong>数秘9</strong>
    <br>数秘9は数秘6が言えずにいる本音もなんとなく汲み取ってくれるので気を許せる存在です。
    <br>話も合うので会うと長々と話しこみ、楽しい時間を過ごせます。
    <br>数秘6はついつい他の人にできない分甘えすぎてしまうところも。
    <br>数秘9が突然連絡が取れなくなった…という時は、そっとしておいて欲しい時。
    <br>甘えるのはお休みして、サポートができる日を待ちましょう。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘6が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘6</strong> 
    <br>お互い周りを喜ばせたい！と思う数秘6同士なので、みんながうまく行って欲しい…という目的の元に力を合わせることもありますが、
    <br>お互いの「こううまく行かせたい！」というイメージに違いがあるとかけ違ったボタンのようになってしまい、ちぐはぐした感じに。
    <br>お互い本音で語り合うのが難しいので、「どうぞどうぞ」と譲り合いつつストレスを溜めてどちらかが爆発…ということもあります。
    <br>直接話し合うと屁理屈大会になってしまうこともあるので、数秘2や数秘9持ちさんなどに仲介に入ってもらうと良いでしょう。
    <br>
    <br>
      <strong>数秘7</strong>
    <br>数秘7は数秘6から見ると何を考えているかわからない存在です。
    <br>一人でいることも多いし、「みんなでうまく行く」ということに興味がないので、どう付き合っていいかわからない…と悩むことも多いです。
    <br>数秘6は人当たり良くしなければ！と考えてしまうので、いつもニコニコしているわけではない数秘7に「何かしてしまったのだろうか？」と不安になってしまうことも。
    <br>数秘7は数秘6と人との距離の取り方や付き合い方が違うので、そのコツを知っておくとかなり付き合いが楽になるでしょう。
    <br>数秘7からは数秘6が時々気にかけてくれるのは満更でもないようです（しょっちゅうだったり怒ってる？みたいなのはウザがりますが）
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
