<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main text-left">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'utyu' %>) no-repeat center center; background-size: cover;">
  </div>
 <div class="container text-center">
 <h3 class="my-title text-left">数秘1の性格</h3>
 </div>
  <p class="main-text">
    数秘1は裏表なくサッパリしています。<br>
    <br>
    直情型なのでカッとなる事も多いですが、その分引くのも早く、引いた後はカラッとしています。<br>
    シンプルな性質なのでこれは好き、これは嫌いと思ったことはそのまま口にします。ハッキリ、ストレートに言いすぎて敵を作ってしまうこともありますが、考えていることがわかりやすいタイプでもあります。<br>
   <br>
    元気でエネルギッシュな雰囲気を持っています。声が大きかったり無意識に強い言葉を使うので、それが人によってはトゲトゲしているように受け取られたり攻撃されているように捉えられてしまうこともあります。それを気にして出さないように潜めようとする人もいます。<br>
   <br>
    個やオリジナリティを表すため、みんなと同じことをやっているつもりでもはみ出していたり、斜め上の行動を取ってしまったり、目立ちたいわけではないのに目立ってしまう、集団の"中"には入りにくいタイプです。<br>
    <br>
    「出る杭は打たれる」と言うことわざの通り攻撃を受けることも多いため、大人しくしようとします。しかし隠れようとすると、より悪目立ちしてしまうことが多いです<br>
    <br>
    これらの経験から、自分に自信をなかなか持てないところがあります。しかし、常にポジティブであろうとするので周りからそうは見えにくいようです。<br>
    <br>
    誰もいないところに行ってしまうところから、誰もやりたがらないことを率先して引き受けてしまう事もあります。周りのフォローは苦手ですが、先頭に立って走る事もあるでしょう。<br>
    <br>
    直感と、自分がこれが良い！と思う感覚を最優先にします。ピンと来たら猪突猛進。何があってもそこに向かう決断力と行動力を持っています。<br>
    <br>
    「こう！」と思ったら「こう！」と押し通す形になる事も多いので、なぜこうするのか、と言語化したり説明する事が苦手です。しかし、熱意で周りを巻き込んでいくでしょう。<br>
    <br>
    ただ、ピンと来るまではなかなか決まらず、ダラダラしてしまうので、動けている時とそうでない時のギャップが大きく感じるでしょう。<br>
    <br>
    動きたいのに動けない！と気持ちだけ空回りしてしまっていることも多いです。<br>
    <br>
    空回りしようが、動けない時も、とにかく動きたい！というところがあります。まるで止まったら死んじゃうマグロのようです。<br>
    <br>
    あれこれやることは苦手で、1度に1つのことに集中します。1つ何かタスクが入ると1つ抜けてしまいます。
  </p>
 <div class="container text-center">
 <h3 class="my-title text-left">数秘1の生きづらいところ</h3>
 </div>
  <p class="main-text">
    人の話が聞こえづらい。<br>
    <br>
    数秘1は集中力が高すぎるので、何か考えていたり取り掛かっていたりする時は人の話が耳に入りません。音として入ってはいるけれど届かない、と言った方が近いかもしれません。<br>
    <br>
    何度も注意されても聞こえていなかったり、制止されてもなかなか止まれない、と言うことがよく起こります。
  </div>
</div>


  <!-- 追加のスタイル -->
  <style>
    .index-main{
      font-family: "IM Fell French Canon SC", serif;
      font-style: normal;

    }

    .my-title {
      font-size: 30px;
      color: #330033;
      padding-bottom: 10px;
      margin-left: -100px

    }

    .main-text{
      color: #330033;
      font-size: 20px;
      margin:40px

    }
