<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<%= render 'shared/header' %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'fuji' %>) no-repeat center center; background-size: cover;">
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
      数秘1の性格
      </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>数秘1は裏表なくサッパリしています。</strong>
    <br>
    直情型なのでカッとなる事も多いですが、その分引くのも早く、引いた後はカラッとしています。<br>
    シンプルな性質なのでこれは好き、これは嫌いと思ったことはそのまま口にします。ハッキリ、ストレートに言いすぎて敵を作ってしまうこともありますが、考えていることがわかりやすいタイプでもあります。<br>
   <br>
    元気でエネルギッシュな雰囲気を持っています。声が大きかったり無意識に強い言葉を使うので、それが人によってはトゲトゲしているように受け取られたり攻撃されているように捉えられてしまうこともあります。それを気にして出さないように潜めようとする人もいます。<br>
   <br>
    個やオリジナリティを表すため、みんなと同じことをやっているつもりでもはみ出していたり、斜め上の行動を取ってしまったり、目立ちたいわけではないのに目立ってしまう、集団の"中"には入りにくいタイプです。<br>
    <br>
    「出る杭は打たれる」と言うことわざの通り攻撃を受けることも多いため、大人しくしようとします。しかし隠れようとすると、より悪目立ちしてしまうことが多いです<br>
    <br>
    これらの経験から、自分に自信をなかなか持てないところがあります。しかし、常にポジティブであろうとするので周りからそうは見えにくいようです。<br>
    <br>
    誰もいないところに行ってしまうところから、誰もやりたがらないことを率先して引き受けてしまう事もあります。周りのフォローは苦手ですが、先頭に立って走る事もあるでしょう。<br>
    <br>
    直感と、自分がこれが良い！と思う感覚を最優先にします。ピンと来たら猪突猛進。何があってもそこに向かう決断力と行動力を持っています。<br>
    <br>
    「こう！」と思ったら「こう！」と押し通す形になる事も多いので、なぜこうするのか、と言語化したり説明する事が苦手です。しかし、熱意で周りを巻き込んでいくでしょう。<br>
    <br>
    ただ、ピンと来るまではなかなか決まらず、ダラダラしてしまうので、動けている時とそうでない時のギャップが大きく感じるでしょう。<br>
    <br>
    動きたいのに動けない！と気持ちだけ空回りしてしまっていることも多いです。<br>
    <br>
    空回りしようが、動けない時も、とにかく動きたい！というところがあります。まるで止まったら死んじゃうマグロのようです。<br>
    <br>
    あれこれやることは苦手で、1度に1つのことに集中します。1つ何かタスクが入ると1つ抜けてしまいます。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        数秘1の生きづらいところ
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>人の話が聞こえづらい。</strong> 
    <br>
    数秘1は集中力が高すぎるので、何か考えていたり取り掛かっていたりする時は人の話が耳に入りません。音として入ってはいるけれど届かない、と言った方が近いかもしれません。<br>
    <br>
    何度も注意されても聞こえていなかったり、制止されてもなかなか止まれない、と言うことがよく起こります。
    <br><br>
     <strong>人と同じことができない</strong>
     <br>
    数秘1はどんな場所においても独自のオリジナリティを発揮しようとする性質があります。視点も独自のものを持っているため、本人は普通に周りと同じようにしているつもりでも、どこかズレていたり斜め上だったり。<br>
    <br>
    中心となる存在なので、輪の中に入れずひとりで浮いている状態になることもあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        数秘1の短所・苦手なものは？
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>せっかち・おっちょこちょい</strong> 
    <br>
    数秘1はスピード感を重視してしまう分、せっかちとして表れがちです。スピードはあるものの、抜けがあったり後始末が苦手です。
    <br><br>
      <strong>複雑なものが苦手</strong>
     <br>
    数秘1は一度にひとつのことに集中したいので、同時にいくつかを並行するのは苦手。複雑な手順は理解や切り替えが追いつかないこともあります。
    中心となる存在なので、輪の中に入れずひとりで浮いている状態になることもあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        数秘1のNGワード
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>わがまま言わないで！</strong> 
    <br>
    数秘1は自分の意思をはっきり持ち主張する性質があります。それは自分自身をしっかり持っている良い面ですが、全力ストレートな表現が強すぎて受け取られることがあります。
    <br>
    また思ったことは、それまでの流れを絶ってでもすぐ行動に移したり言葉にしたくなってしまうので、わがままだと言われてしまう事も。
    <br>
    <br>
      <strong>もっと慎重に・手加減して！</strong>
     <br>
    数秘1は一度にひとつのことに集中したいので、同時にいくつかを並行するのは苦手。複雑な手順は理解や切り替えが追いつかないこともあります。
    中心となる存在なので、輪の中に入れずひとりで浮いている状態になることもあります。
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        数秘1の人が生きやすくなるポイント
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>直感を信じる</strong> 
    <br>
    数秘1は自分が「こうだ！」と感じることを信じること、選択することが一番うまくいった、と感じます。
    <br>
    たとえ世の中が「正解だ」「これが最善である」と言うことであっても、ピンと来ないことは選ばなくていいのです。それを周りの意見に流されて選んでしまうと、たとえうまくいったとしても大きな後悔や違和感が残るでしょう。
    <br>
    行き先はよくわかっていないけどなんとなくこっち！で走り始める時もあります。そんなときは暗闇の中を走っている心細い感覚になりますが、光は必ず見えてきます。自分の感覚に嘘をつかず、そちらに走り続けてみてください。
    <br>
    <br>
      <strong>自分で自分を褒める</strong>
     <br>
    数秘1は自分で自分を信じる、褒めることを必要とするために、逆に自信を持ちづらいところがあります。
    <br>
    自信が持てないとき、他人からの承認を求めようとしてしまいますが、自分で自分を信じられなければ穴の空いたバケツ状態。どんな時でも、小さいことでもまずは自分で自分を褒めてあげてください。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
        数秘1の長所・得意なところは？
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>こう！と決めたら周りは気にせず突き抜けていく</strong> 
    <br>
    数秘1はこう！と決めた事に一心不乱にまっすぐ突き進んでいく意志の強さがあります。周りの声が聞こえないほどの集中力と突貫力があるからこそ、まだ前例の無いことや道なき道も切り拓いていけるのです。
    <br>
    <br>
      <strong>人の良いところやその人ならではのところを見つける</strong>
     <br>
    数秘1は目の前の人の良いところやその人ならではのオリジナリティを見つけるのが得意です。褒め上手とも言えます。<br>
    ＝自分には無い…という形で出る事もありますが、そんな時は素直に悔しい！と言ってみましょう
    <br>
    まだ世の中に価値が見出されていないものに目をつける事も。良いな！と思ったものは分かり合える人が少なかったり、3〜10年後に流行って、その頃には興味がなくなっている事もあります。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFour">
        数秘1が好むこと
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>スピード感</strong> 
    <br>
    数秘1はパッと決まったり、早く！ささっと！さくっと終わることを好みます。<br>
    素早くどんどんこなして行きたい、疾走感を求めてしまうのです。
    <br>
    <br>
      <strong>オリジナリティ</strong>
     <br>
    世に出たばかりの新しいもの、他に無いもの、1つだけのもの、個性が際立っているものなど、オリジナリティを感じるものを好みます。<br>
    流行していたり、みんなが良い！って言っているものはいいと思っていても気持ちが冷めてしまう事も。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
        数秘1の才能を生かすには？
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>ピンときたことをやってみる</strong> 
    <br>
    数秘1の直感力や「これ！」と感じた事をやることが数秘1の力を伸ばし、また自信になります。なんとなくこっちが良いな、と思った事は出来る限りそちらを選んでみることをお勧めします。
    <br>
    走り出したらなかなか止まれない数秘1は、ぶつかるまで止まれず、痛い思いをするため、ピンときた事を選んだり、走り始めることに戸惑ってしまう事もあります。けれど、自分のカンに従わない時は全く動けなかったり、周りからうまくいっていると言われてもしっくりこなかったり、という事もしばしば起こります。
    <br>
    逆に「これは違う気がする…」という方は選ばない、という事も大切。やっているうちに違和感が出てきたら早めに止まる事も意識してみましょう。
    <br>
    <br>
      <strong>誰もやってないことをやる</strong>
     <br>
    数秘1はナンバー1を目指す頑張り屋さんですが、ナンバー1は難しかったり、そもそも何を持ってしてナンバー1なのか？という状況もあるでしょう。
    <br>
    そんな時はオリジナリティにシフト。自分だからできることを探してみたり、まだ誰もやってないアイデアを探してみたり。物凄く変わっている事もアリですが、隙間を探してみたり、
    <br>
    「なんでこれ誰もやってないんだろう？」と感じることに大きなヒントがあるでしょう。なんとなく動きたい衝動が湧いてきたら、ひとまず動いてみましょう。（動けなかったら自分がやる必要はないものかも）
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFour">
        数秘1と相性のいい数字は？
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘2</strong> 
    <br>
    これ！という事に突っ走る数秘1のサポートをしてくれ、少々強引でも追いかけて来てくれる数秘2は相棒として頼もしい存在。
    <br>
    ネガティブに落ち込んだ時は優しく寄り添ってくれたり、強く否定される事はそう無いのでありがたい存在です。
    <br>
    数秘2は選ばなかった方や反対側の事を考えてしまうので「でもでも…」というのが通常運行ですが、2の言うことに何か引っ掛かった感じを受ける時は話を聞いてみると大きな失敗をする前に回避できることがあるかもしれません。
    <br>
    時々、数秘2の事を振り返ったり「大丈夫？」と言った配慮する言葉かけをする事で関係が長続きしやすくなります。
    <br>
    <br>
      <strong>数秘3</strong>
     <br>
    一緒に楽しい事はとことん盛り上がれます。おしゃべりもお互い話したいことを話して楽しかったね！と言う関係。
    <br>
    アイデアは出すけれど実現させるかどうかはまた別なところや、やるかどうかは持っている熱に左右されるなど共通点も多いです。
    <br>
    「3の気まぐれや地雷踏みに怒る事はありますが、お互い後を引かないのでけろっといつの間にか仲直りしているでしょう。嫌だ！と思った事は我慢せず小出しに言い合えるとより関係が長続きします。
      </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour">
        数秘1が付き合い方に工夫が必要な数字は？
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
     <div class="accordion-body">
      <strong>数秘4</strong> 
    <br>
    ゆっくりしたスピードで進み、堅実で保守的な数秘4とはなかなか反りが合いません。とは言え、後ろを振り返ったフォローが苦手な数秘1にとって、穴を埋めたり土台を作る数秘4とは避けては通れない人間関係でもあります。
    <br>
    数秘1の自分の意思を通すことが大切な時もありますが、特にスケジュール管理や計画については数秘4の得意分野。自分のパターンを把握してもらいながらすり合わせていきましょう。
    <br>
    <br>
      <strong>数秘6</strong>
     <br>
    みんなで仲良く、お互いを思いやって、分け合って！と言うタイプなので、周りを見ることが苦手な数秘1に対して口うるさく接してくることがあります。
    <br>
    心配性なので過保護になる事も。
    <br>
    お世話好きなのでフォローを喜んでやってくれる面は心強いですが、やりたい事はしっかり主張していきましょう。
      </div>
    </div>
  </div>
<br>
<br>
  <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active back-link" aria-current="page" href="/">Back</a></li>
  </ul>



  <!-- 追加のスタイル -->
  <style>
body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.accordion-item,
.accordion-button,
.accordion-header,
.accordion-body {
  font-family: "IM Fell French Canon SC", serif;
  font-style: normal;
  color: #330033;
  font-size: 24px;
}

.nav-link {
  color: #c17be4;
}



  </style>
<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
