	
@import "bootstrap";


/******************************************************** 
　新規登録画面
********************************************************/
.contents.row {
  min-height: 100vh;
}


.input-short {
  max-width: 300px;
 }

 .btn-pink {
  background-color: #f1ccdf; /* ピンクの色に設定 */
  color: white;
  border-color: #eebad4;
  margin-top: 20px;
  padding: 15px 30px;
}


/******************************************************** 
　トップページ 
********************************************************/
.index-main{
  width: 100%;
  height: 700px;
}

.hero {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;

}

.my-img {
  opacity: 60%;
  height: 350px !important;
  object-fit: cover;
}

.my-navbar {
  background-color: #FFEEFF;
  padding: 20px 0;
}

.nav-link {
  color: black; 
}

.my-title {
  font-size: 50px;
  margin: 20px;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #330033

}

.text-body-secondary{
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
}